{include file="public/cn/cn_header" /}
{include file="public/cn/cn_news_head" /}
<link type="text/css" href="/static/www/css/news/investment_advantage.css" rel="stylesheet">
<div id="news_div_menu_text_bj" class="news_div_menu_text_bj">
    <img class="news_img_menu_text_bj" src="__STATIC__/www/img/menu_text_long_bj.png">
</div>
<div>
    <div class="title_div">
        <img class="title_img" src="__STATIC__/www/img/news/title.png">
    </div>
    <div class="top_pic_1">
        <img  src="__STATIC__/www/img/news/top_pic_1.png">
    </div>
    <div class="top_pic_2">
        <img  src="__STATIC__/www/img/news/top_pic_2.png">
    </div>
    <div class="top_pic_3">
        <img  src="__STATIC__/www/img/news/top_pic_3.png">
    </div>
    <div class="top_pic_4">
        <img  src="__STATIC__/www/img/news/top_pic_4.png">
    </div>
    <div class="top_pic_5">
        <img  src="__STATIC__/www/img/news/top_pic_5.png">
    </div>
    <div class="top_pic_6">
        <img  src="__STATIC__/www/img/news/top_pic_6.png">
    </div>
    <div class="top_pic_7">
        <img  src="__STATIC__/www/img/news/top_pic_7.png">
    </div>
    <div class="top_pic_8">
        <img  src="__STATIC__/www/img/news/top_pic_8.png">
    </div>
    <div class="top_text_1">
        <img  src="__STATIC__/www/img/news/top_text_1.png">
    </div>
    <div class="top_text_2">
        <img  src="__STATIC__/www/img/news/top_text_2.png">
    </div>
    <div class="top_text_3">
        <img  src="__STATIC__/www/img/news/top_text_3.png">
    </div>
    <div class="top_text_4">
        <img  src="__STATIC__/www/img/news/top_text_4.png">
    </div>
    <div class="top_text_5">
        <img  src="__STATIC__/www/img/news/top_text_5.png">
    </div>
    <div class="top_text_6">
        <img  src="__STATIC__/www/img/news/top_text_6.png">
    </div>
    <div class="top_text_7">
        <img  src="__STATIC__/www/img/news/top_text_7.png">
    </div>
    <div class="top_text_8">
        <img  src="__STATIC__/www/img/news/top_text_8.png">
    </div>
    {volist name="list" id="vo"}
            {if $i%2 != 0 &&  $i%3 != 0}
            <!--no.1-->
            <div class="no1_pic_div">
                <img class="no1_pic_img" src="__STATIC__/www/img/news/no1_pic.png">
            </div>
            <div class="no1_bj_div">
                <img class="no1_bj_img" src="__STATIC__/www/img/news/no1_bj.png">
            </div>
            <!--no.1标题-->
            <div class="no1_title">
                <h1>NO.1 <span>{$vo.you_title}</span></h1>
            </div>
            <!--no.1内容-->
            <div class="no1_content">
                {$vo.you_content}
            </div>
            {/if}
        {if $i%2 == 0}
            <!--no.2图片-->
            <div class="no2_pic_div">
                <img class="no2_pic_img" src="__STATIC__/www/img/news/no2_pic.png">
            </div>
            <!--no.2背景-->
            <div class="no2_bj_div">
                <img class="no1_bj_img" src="__STATIC__/www/img/news/no1_bj.png">
            </div>
            <!--no.2标题-->
            <div class="no2_title">
                <h1>NO.2 <span>{$vo.you_title}</span></h1>
            </div>
            <!--no.2内容-->
            <div class="no2_content">
                {$vo.you_content}
            </div>
        {/if}
        {if $i%3 == 0}
            <!--no.3图片-->
            <div class="no3_pic_div">
                <img class="no3_pic_img" src="__STATIC__/www/img/news/no3_pic.png">
            </div>
            <!--no.3背景-->
            <div class="no3_bj_div">
                <img class="no3_bj_img" src="__STATIC__/www/img/news/no1_bj.png">
            </div>
            <!--no.3标题-->
            <div class="no3_title">
                <h1>NO.3 <span>{$vo.you_title}</span></h1>
            </div>
            <!--no.3内容-->
            <div class="no3_content">
                {$vo.you_content}
            </div>
        {/if}

    {/volist}


</div>
{include file="public/cn/cn_foot_2" /}