{include file="public/cn/cn_header" /}
{include file="public/cn/cn_news_head" /}
<link type="text/css" href="/static/www/css/news/new_content.css" rel="stylesheet">
<div id="news_div_menu_text_bj" class="news_div_menu_text_bj">
    <img class="news_img_menu_text_bj" src="__STATIC__/www/img/news/new_bj.png">
</div>
<div>
    <!--标题-->
    <div class="news_title_div">
        <img class="news_title_img" src="__STATIC__/www/img/news/news_title.png">
    </div>
    <!--新闻背景-->
    <div class="news_bj_div">
        <img class="news_bj_img" src="__STATIC__/www/img/news/news_info_bj.png">
    </div>
    <!--新闻标题-->
    <div class="news_title">
        <p>{$data.ns_title}</p>
        <span>{$data.ns_intime|date="Y-m-d",###}</span>
    </div>
    <!--新闻图片-->
    <div class="news_pic_div">
        <img class="news_pic_img" src="{$news_upload_path}{$data.ns_img}">
    </div>
    <!--新闻内容-->
    <div class="news_content">
        <span>{$data.ns_content}</span>
    </div>
    <!--上下篇-->
    <div class="news_info_div">
        {if $data_last.ns_title}
            <p><a href="/cn/new_content_cn/{$data_last.ns_id}">上一篇：{$data_last.ns_title|substr=0,30}.....</a></p>
        {/if}
        {if $data_next.ns_title}
            <p><a href="/cn/new_content_cn/{$data_next.ns_id}">下一篇：{$data_next.ns_title|substr=0,30}.....</a></p>
        {/if}
    </div>
</div>
{include file="public/cn/cn_foot_2" /}