<div class="">
  <img src="/static/www/img/huge_screen.jpg" alt="" style="width: 100%;">
  <div class="cn_huge_screen">
    <a href="/cn/" class="cn_huge_screen_a cn_huge_screen_active">首页</a>
    <a href="/cn#maodian_guanyu" class="cn_huge_screen_a">关于伊玛尔</a>
    <a href="/cn#maodian_xinwen" class="cn_huge_screen_a">新闻资讯</a>
    <a href="/cn#maodian_xiangmu" class="cn_huge_screen_a">社区项目</a>
    <a href="/cn#maodian_shuju" class="cn_huge_screen_a">数据总揽</a>
    <a href="/cn#maodian_lianxi" class="cn_huge_screen_a">联系我们</a>
  </div>
</div>
