<link type="text/css" href="/static/www/css/lian_xwm/lian_xwm_head.css" rel="stylesheet">
</head>
<div class="head_bj">
    <div class="div_logo">
        <a href="/"><img class="img_logo" src="__STATIC__/www/img/logo.png"></a>
    </div>
    <div id="news_div_menu_list_head">
        <div id="ibk_div_menu" class="div_menu">
            <img class="img_menu" src="__STATIC__/www/img/menu.png">
        </div>

        <div id="ibk_div_menu_list" class="ibk_div_menu_list">
            <ul>
                <li><a href="/cn/ibk">关于我们</a></li>
                <li><a href="/cn/emaar">迪拜房产</a></li>
                <li><a href="/cn/investment_advantage_cn">迪拜资讯</a></li>
                <li><a href="/cn/contentus">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="title">
        <img class="img_pic" src="__STATIC__/www/img/lian_xwm/title.png">
    </div>
    <div class="menu">
        <img class="img_pic" src="__STATIC__/www/img/lian_xwm/menu.png">
    </div>
</div>
<div id="qq_chat_email" class="qq_chat_email">
    <div class="div_qq">
        <a href="tencent://Message/?Uin=1723101543&amp;websiteName=q-zone.qq.com&amp;Menu=yes">
            <img class="img_qq" src="__STATIC__/www/img/QQ.png">
        </a>
    </div>
    <div class="we_chat">
        <div id="div_we_chat" class="div_we_chat">
            <img id="img_we_chat" class="img_we_chat" src="__STATIC__/www/img/we_chat.png">
        </div>
        <div id="div_we_chat_brackgroup" class="div_we_chat_brackgroup">
            <img class="img_we_chat_brackgroup" src="__STATIC__/www/img/we_chat_brackgroup.png">
        </div>
    </div>
    <div>
        <div id="div_mail" class="div_mail">
            <img class="img_mail" src="__STATIC__/www/img/mail.png">
        </div>
        <div id="div_text_bg" class="div_text_bg">
            <div class="div_mail_bg">
                <img class="img_mail_bg" src="__STATIC__/www/img/mail_bg.png">
            </div>
            <div id="div_text" class="div_text">
                <span>support@ibkfo.cn</span>
            </div>
        </div>
    </div>
</div>
