<link type="text/css" href="/static/www/css/foot.css" rel="stylesheet">
    <div class="col-md-12 foot_height">
            <div class="col-md-2"></div>
            <div class="col-md-10"><span>hpx.com</span></div>
            <div class="col-md-12 text-right">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" focusable="false" viewBox="0 0 26 26">
                    <path d="M12 8.2v14.5H0zM12 3c0 3.3-2.7 6-6 6S0 6.3 0 3h12zm2 19.7c0-3.3 2.7-6 6-6s6 2.7 6 6H14zm0-5.2V3h12z"></path>
                </svg>
                <a href="#" target="_blank">由 Zendesk 提供技术支持</a>
            </div>
        </div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/admin/js/bootstrap.min.js"></script>
  </body>
</html>
