<link type="text/css" href="/static/www/css/head.css" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 head_height">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-md-6 logo-height">
                    <img src="/static/www/img/notice/logo.jpg" width="37px">
                </div>
                <div class="col-md-6 text_height">
                    <span><a href="#">提交请求</a></span>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

