<!--头部文件-->
{include file="public/head" /}

<body>
  <section id="container" class="">
    <!--头部栏-->
    {include file="public/header"}
    <!--侧边栏-->
    {include file="public/sidebar"}
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <!-- page start-->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                二级代理列表 LIST <!--<a href="/admcncp/dailiAdd/{$data.page}"> <button type="button" class="btn btn-danger btn-xs pull-right">添加 一级代理</button></a>-->
              </header>
              <div id="sample_1_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div class="panel-body">
                  <div class="col-sm-6"></div>
                </div>
                <table class="table table-striped border-top dataTable" id="sample_1" aria-describedby="sample_1_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting"  >id</th>
                      <th class="sorting"  >上级代理ID</th>
                      <th class="sorting"  >代理类型</th>
                      <th class="sorting"  >代理商用户名</th>
                      <th class="sorting"  >手机</th>
                      <th class="sorting"  >邮箱</th>
                      <th class="sorting"  >利润百分比</th>
                      <th class="sorting"  >余额</th>
                      <th class="sorting"  >邀请码</th>
                      <th class="sorting"  >状态</th>
                      <th class="sorting"  >注册时间</th>
                      <th class="sorting"  >操作</th>
                    </tr>
                  </thead>

    
         
{foreach name="list" item="vo"}
                  <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr class="odd gradeX">
                      <td class=" ">{$vo.dl_id}</td>
                      <td class=" ">{$vo.dl_shangjiID}</td>
                      <td class=" ">{if condition="$vo.dl_type==1"}一级代理{elseif condition="$vo.dl_type==2"}二级代理{/if}</td>
                      <td class="hidden-phone ">{$vo.dl_username}</td>
                      <td class="hidden-phone ">{$vo.dl_phone}</td>
                      <td class="hidden-phone ">{$vo.dl_email}</td>
                      <td class="hidden-phone ">{$vo.dl_lirunbi} %</td>
                      <td class="hidden-phone ">{$vo.dl_yue} $</td>
                      <td class="hidden-phone ">{$vo.dl_yaoqingma}</td>
                      <td class="hidden-phone ">{if condition="$vo.dl_status==1"}启用{elseif condition="$vo.dl_status==0"}停用{/if}</td>
                      <td class="hidden-phone ">{if condition="$vo.dl_intime"}{$vo.dl_intime|date="Y-m-d H:i:s",###}{/if}</td>
                      <td class="hidden-phone ">
                        <a href="/admcncp/daili2Edit/{$vo.dl_id}/{$data.id}/{$data.page}"><button type="button" class="btn btn-info btn-xs">编辑</button></a>&nbsp;&nbsp;
                        <a href="/admcncp/daili2Mem/{$vo.dl_id}/{$vo.dl_yaoqingma}/1" target="_blank"><button type="button" class="btn btn-info btn-xs">会员</button></a>
                        <!--<a href="/admcncp/keyword_delete/1"><button type="button" class="btn btn-warning btn-xs">删除</button></a>-->
                      </td>
                    </tr>
                  </tbody>
 {/foreach}                  
                </table>
                <div class="row">
                
                
               <script language="javascript">
				function tiaosubmit()
				{
					var tiaopage=$("#page11").attr("value");
					if(tiaopage>0)
					{
					location.href='/admcncp/daili2/'+{$data.id}+'/'+tiaopage;
					}
					else
					{
						alert("页数不能小于等于0");	
					}

				}
				</script>

                  <div class="col-sm-6">
                    <div class="dataTables_info" id="sample_1_info">一共{$data.countpage}页  当前第{$data.page}页 一共{$data.countnum}条记录</div>
                  </div>
                  <div class="col-sm-6">
                    <div class="dataTables_paginate paging_bootstrap pagination">
                      <ul>
                        <li class="prev"><a href="/admcncp/daili2/{$data.id}/{$data.shangpage}">← 上一页</a></li>
                        <li class="next"><a href="/admcncp/daili2/{$data.id}/{$data.xiapage}">下一页 → </a></li>
                        <li >转到第&nbsp;<input name="page11" id="page11" type="text" size="4" style=" border:1px solid #999999;" />&nbsp;页 <input name="tiaozhuan" value="跳转" type="button" onClick="tiaosubmit()"></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->
  </section>
  <!--尾部文件-->
  {include file="public/foot" /}
