<!--头部文件-->
{include file="public/head" /}

<body>
  <section id="container" class="">
    <!--头部栏-->
    {include file="public/header"}
    <!--侧边栏-->
    {include file="public/sidebar"}
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <!-- page start-->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                编辑 二级代理
              </header>
              <div class="panel-body">
                             <form class="form-horizontal" role="form" method="post">
                               <div class="form-group">
                                   <label class="col-lg-2 control-label">用户名</label>
                                   <div class="col-lg-10">
                                       <input class="form-control" id="dl_username" name="dl_username" value="{$list.dl_username}" required placeholder="用户名">
                                   </div>
                               </div>
                                 <div class="form-group">
                                     <label class="col-lg-2 control-label">密码</label>
                                     <div class="col-lg-10">
                                         <input class="form-control" id="dl_password" name="dl_password" placeholder="密码">
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="col-lg-2 control-label">手机</label>
                                     <div class="col-lg-10">
                                         <input class="form-control" id="dl_phone" name="dl_phone" value="{$list.dl_phone}" required placeholder="手机">
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="col-lg-2 control-label">邮箱</label>
                                     <div class="col-lg-10">
                                         <input class="form-control" id="dl_email" name="dl_email" value="{$list.dl_email}" placeholder="邮箱">
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="col-lg-2 control-label">帐户状态</label>
                                     <div class="col-lg-10">
                                         <select class="form-control m-bot15" name="dl_status">
                                         {if condition="$list.dl_status==1"}
                                         <option  value="1" selected >启用</option>
                                         {elseif condition="$list.dl_status==0"}
                                         <option  value="0" selected>停用</option>
                                         {/if}
                                              <option  value="1" >启用</option>
                                              <option  value="0" >停用</option>
                                          </select>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="col-lg-2 control-label">利润百分比</label>
                                     <div class="col-lg-10">
                                         <input class="form-control" id="dl_lirunbi" readonly name="dl_lirunbi" value="{$list.dl_lirunbi}%" placeholder="利润百分比">
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="col-lg-2 control-label">余额</label>
                                     <div class="col-lg-10">
                                         <input class="form-control" id="dl_yue" name="dl_yue" value="{$list.dl_yue}$" readonly placeholder="余额">
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="col-lg-2 control-label">邀请码</label>
                                     <div class="col-lg-10">
                                         <input class="form-control" id="dl_yaoqingma" name="dl_yaoqingma" value="{$list.dl_yaoqingma}" readonly >
                                     </div>
                                 </div>
                                  <div class="form-group">
                                     <div class="col-lg-offset-2 col-lg-10">
                                     <input name="page" type="hidden" value="{$page}">
                                     <input name="id" type="hidden" value="{$id}">
                                     <input name="upid" type="hidden" value="{$upid}">
                                         <button class="btn btn-danger" type="submit">提交</button>
                                     </div>
                                 </div>
                             </form>
                         </div>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->
  </section>
  <!--尾部文件-->
  {include file="public/foot" /}
