<!--头部文件-->
{include file="public/head" /}

<body>
  <section id="container" class="">
    <!--头部栏-->
    {include file="public/header"}
    <!--侧边栏-->
    {include file="public/sidebar"}
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <!-- page start-->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                编辑管理员
              </header>
              <div class="panel-body">
                             <form class="form-horizontal" role="form" method="post">
                               <div class="form-group">
                                   <label class="col-lg-2 control-label">登陆用户名</label>
                                   <div class="col-lg-10">
                                       <input class="form-control" id="dengluming" name="dengluming" placeholder="登陆用户名" readonly value="{$userinfo.dengluming}">
                                   </div>
                               </div>
                                 <div class="form-group">
                                     <label class="col-lg-2 control-label">密码</label>
                                     <div class="col-lg-10">
                                         <input class="form-control" id="mima" name="mima" placeholder="密码">
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="col-lg-2 control-label">真实姓名</label>
                                     <div class="col-lg-10">
                                         <input class="form-control" id="xingming" name="xingming" placeholder="真实姓名" value="{$userinfo.xingming}">
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="col-lg-2 control-label">帐户权限</label>
                                     <div class="col-lg-10">
                                         <select class="form-control m-bot15" name="leixing">
                                         {if condition="$userinfo.leixing==1"}
                                         <option  value="1" selected >管理员</option>
                                         {elseif condition="$userinfo.leixing==2"}
                                         <option  value="2" selected>编辑</option>
                                         {elseif condition="$userinfo.leixing==3"}
                                         <option  value="3" selected>财务</option>
                                         {/if}
                                              <option  value="1">管理员</option>
                                              <option  value="2">编辑</option>
                                              <option  value="3">财务</option>
                                          </select>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="col-lg-2 control-label">状态</label>
                                     <div class="col-lg-10">
                                         <select class="form-control m-bot15" name="zhuangtai">
                                          {if condition="$userinfo.zhuangtai==1"}
                                          <option  value="1" selected>启用</option>
                                          {elseif condition="$userinfo.zhuangtai==2"}
                                          <option  value="2" selected>停用</option>
                                          {/if}                       
                                              <option  value="1">启用</option>
                                              <option  value="2">停用</option>
                                          </select>
                                     </div>
                                 </div>
                                  <div class="form-group">
                                     <div class="col-lg-offset-2 col-lg-10">
                                     <input name="id" type="hidden" value="{$userinfo.adm_id}">
                                         <button class="btn btn-danger" type="submit">提交</button>
                                     </div>
                                 </div>
                             </form>
                         </div>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->
  </section>
  <!--尾部文件-->
  {include file="public/foot" /}
