<!--头部文件-->
{include file="public/head" /}

<body>
  <section id="container" class="">
    <!--头部栏-->
    {include file="public/header"}
    <!--侧边栏-->
    {include file="public/sidebar"}
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <!-- page start-->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                管理员列表 LIST <a href="/admcncp/index_add"> <button type="button" class="btn btn-danger btn-xs pull-right">添加 管理员</button></a>
              </header>
              <div id="sample_1_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div class="panel-body">
                  <div class="col-sm-6"></div>
                </div>
                <table class="table table-striped border-top dataTable" id="sample_1" aria-describedby="sample_1_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting" style="width: 184px;">id</th>
                      <th class="sorting" style="width: 184px;">登陆名</th>
                      <th class="sorting" style="width: 347px;">姓名</th>
                      <th class="sorting" style="width: 123px;">帐户权限</th>
                      <th class="sorting" style="width: 123px;">状态</th>
                      <th class="sorting" style="width: 228px;">操作</th>
                    </tr>
                  </thead>

    
         
{foreach name="list" item="vo"}
                  <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr class="odd gradeX">
                      <td class=" ">{$vo.adm_id}</td>
                      <td class=" ">{$vo.dengluming}</td>
                      <td class="hidden-phone ">{$vo.xingming}</td>
                      <td class="hidden-phone ">
                      {if condition="$vo.leixing==1"}
                      管理员
                      {elseif condition="$vo.leixing==2"}
                      编辑
                      {elseif condition="$vo.leixing==3"}
                      财务
                      {/if}
                      
                      </td>
                      <td class="hidden-phone ">
					{if condition="$vo.zhuangtai==1"}
                      <span style="color:#0F0">启用</span>
                      {elseif condition="$vo.zhuangtai==2"}
                      <span style="color:#F00">停用</span>
                      {/if}                      </td>
                      <td class="hidden-phone ">
                        <a href="/admcncp/indexEdit/{$vo.adm_id}"><button type="button" class="btn btn-info btn-xs">修改</button></a>
                        <!--<a href="/admcncp/keyword_delete/1"><button type="button" class="btn btn-warning btn-xs">删除</button></a>-->
                      </td>
                    </tr>
                  </tbody>
 {/foreach}                  
                </table>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="dataTables_info" id="sample_1_info"><!--显示 1 至 25 条 一共300条--></div>
                  </div>
                  <div class="col-sm-6">
                    <!--<div class="dataTables_paginate paging_bootstrap pagination">
                      <ul>
                        <li class="prev disabled"><a href="#">← 上一页</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li class="next"><a href="#">下一页 → </a></li>
                      </ul>
                    </div>-->
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->
  </section>
  <!--尾部文件-->
  {include file="public/foot" /}
