<header class="header white-bg">
      <div class="sidebar-toggle-box">
          <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
      </div>
      <!--logo start-->
      <a href="#" class="logo"><span>{$Think.config.web_name2}</span>管理后台</a>
      <!--logo end-->

      <div class="top-nav ">
          <!--search & user info start-->
          <ul class="nav pull-right top-menu">

              <!-- user login dropdown start-->
              <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <img alt="" src="img/avatar1_small.jpg">
                      <span class="username">{$Think.session.admin_xingming}</span>
                      <b class="caret"></b>
                  </a>
                  <ul id="btn_quit" class="dropdown-menu extended logout">
                      <div class="log-arrow-up"></div>
                      <li><a><i class="icon-key"></i> 退出</a></li>
                  </ul>
              </li>
              <!-- user login dropdown end -->
          </ul>
          <!--search & user info end-->
      </div>
  </header>
