{include file="public/header" /}
{include file="public/head" /}
<link type="text/css" href="/static/www/css/foot_menu/terms_of_use.css" rel="stylesheet">

</head>
<body class="background_pic_zuo1">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!--第一层-->
                <div class="col-md-12 notices_one">
                    <div class="col-md-6 menu">
                        <ul>
                            <li><a href="#">hpx.com</a></li>
                            <li> > </li>
                            <li><a href="#">帮助中心</a></li>
                            <li> > </li>
                            <li><a href="#">充值提现</a></li>
                        </ul>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 sou_suo">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="iconfont icon-sou"></i></span>
                            <input type="text" class="form-control"  placeholder="搜索">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 content">
                    <!--空白-->
                    <div class="col-md-2">
                        <section class="article-sidebar">
                            <section aria-expanded="true">
                                <h3>此组别内的文章</h3>
                                <ul>
                                    <li>
                                        <a class="btn btn-primary-menu btn-lg " href="/rate" style="height: 60px">HPX数字资产充提手续费说明</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-primary-menu btn-lg xuan_zhong" href="#" style="height: 60px">我充值/提现后，多久到账？</a>
                                    </li>
                                </ul>
                            </section>
                        </section>
                    </div>
                    <div class="col-md-10 content">
                        <!--公告中心-->
                        <div class="col-md-12">
                            <header class="article-header">
                                <h1 title="我充值/提现后，多久到账？" class="article-title">我充值/提现后，多久到账？</h1>
                                <div class="col-md-12 article-author padding-0">
                                    <div class="col-md-1 avatar">
                                        <img src="https://hpx.zendesk.com/system/photos/3602/4269/5914/未标题-1.jpg" alt="Avatar" class="user-avatar">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="article-meta">Admin
                                            <ul class="meta-group">
                                                <li class="meta-data">2 个月前</li>
                                                <li class="meta-data">更新于</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="article-subscribe btn btn-primary btn-sm"  href="#">关注</a>
                                    </div>
                                    <div class="col-md-10 padding-0">
                                        <div class="col-md-12 text padding-0">
                                            <section class="article-info">
                                                <div class="article-content">
                                                    <div class="article-body"><p class="p1"><span class="s1">充值是自动到账的。当您确认区块链信息正确之后，请您稍作等待，即可到账。</span></p>
                                                        <p class="p1">&nbsp;</p>
                                                        <p class="p1"><span class="s1">HPX提现是需要人工审核的，以确保您的资产安全。正常工作时间（9am-5pm）审核完成的时间约为2—5分钟。出币后，到账时间会根据区块链的速度不同，而导致到账时间不同。</span></p>
                                                        <p class="p1"><span class="s1">如果长时间没有到账，请您联系HPX官方QQ群：361145004/ 80039907</span></p></div>

                                                    <div class="article-attachments">
                                                        <ul class="attachments">

                                                        </ul>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-md-12 padding-0">
                                            <footer>
                                                <div class="col-md-12 padding-0">
                                                    <div class="article-footer">
                                                        <div class="article-share">
                                                            <ul class="share">
                                                                <li><a href="#" class="iconfont icon-facebook"></a></li>
                                                                <li><a href="#" class="iconfont icon-twitter"></a></li>
                                                                <li><a href="#" class="iconfont icon-linkedin"></a></li>
                                                                <li><a href="#" class="iconfont icon-gugegoogle115"></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12" style="height: 1px;background-color: #666"></div>
                                                <div class="col-md-12 padding-0 text-center article-votes-question">
                                                    <span>这篇文章有帮助吗？</span>
                                                    <div class="article-votes-controls">
                                                        <a class="btn btn-primary btn-lg"   href="">√ &nbsp;是</a>
                                                        <a class="btn btn-primary btn-lg"   href="">× &nbsp;否</a>
                                                    </div>
                                                    <div class="col-md-12 article-votes-count">
                                                        <span class="article-vote-label">0 人中有 0 人觉得有帮助</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 article-more-questions text-center">
                                                    还有其它问题？<a href="#">提交请求</a>
                                                </div>
                                            </footer>
                                        </div>
                                        <div class="col-md-12 padding-0 article-relatives">
                                            <div class="col-md-6">
                                                <section class="recent-articles">
                                                    <h3>最近查看的文章</h3>
                                                    <ul>
                                                    <li>
                                                        <a href="">HPX数字资产充提手续费说明</a>
                                                    </li>
                                                    <li>
                                                        <a href="">隐私条款</a>
                                                    </li>
                                                    <li>
                                                        <a href="">使用条款</a>
                                                    </li>
                                                    </ul>
                                                </section>
                                            </div>
                                            <div class="col-md-6">
                                                <section class="related-articles">
                                                    <h3>相关文章</h3>
                                                    <ul>

                                                        <li>
                                                            <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCF2c2dFTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCHWE2dFTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSIBhi9oYy96aC1jbi9hcnRpY2xlcy8zNjAwMDI5ODUwNTMtSFBYJUU2JTk1JUIwJUU1JUFEJTk3JUU4JUI1JTg0JUU0JUJBJUE3JUU1JTg1JTg1JUU2JThGJTkwJUU2JTg5JThCJUU3JUJCJUFEJUU4JUI0JUI5JUU4JUFGJUI0JUU2JTk4JThFBjsIVDoJcmFua2kG--f6906115d42d36ab5a301694b17259988ce61805">HPX数字资产充提手续费说明</a>
                                                        </li>

                                                        <li>
                                                            <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCL7SC9JTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCHWE2dFTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSJJL2hjL3poLWNuL2FydGljbGVzLzM2MDAwNjI3NTc3NC0lRTUlQjklQjMlRTUlOEYlQjAlRTclQUUlODAlRTQlQkIlOEIGOwhUOglyYW5raQc%3D--8a49ec0cc75398a25cade4818ca648395424fe66">平台简介</a>
                                                        </li>

                                                        <li>
                                                            <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCN2F2dFTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCHWE2dFTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSJuL2hjL3poLWNuL2FydGljbGVzLzM2MDAwMjk3OTI5My0lRTUlQjglODElRTclQTclOEQlRTUlOEMlQkElRTUlOUQlOTclRTklOTMlQkUlRTYlQjUlOEYlRTglQTclODglRTUlOTklQTgtBjsIVDoJcmFua2kI--673d1d45ce69644738e101f219e35c007499f067">币种区块链浏览器 </a>
                                                        </li>

                                                        <li>
                                                            <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCC3VDNJTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCHWE2dFTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSJJL2hjL3poLWNuL2FydGljbGVzLzM2MDAwNjM0MTkzMy0lRTglODElOTQlRTclQjMlQkIlRTYlODglOTElRTQlQkIlQUMGOwhUOglyYW5raQk%3D--8e5c0fb3abd0a13fdd75423732f5b370682f40e5">联系我们</a>
                                                        </li>

                                                        <li>
                                                            <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCMUSKNJTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCHWE2dFTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSIBey9oYy96aC1jbi9hcnRpY2xlcy8zNjAwMDgxMjcxNzMtJUU0JUI4JUEyJUU1JUE0JUIxJUU0JUJBJTg2JUU4JUIwJUI3JUU2JUFEJThDJUU5JUFBJThDJUU4JUFGJTgxJUU2JTgwJThFJUU0JUI5JTg4JUU1JThBJTlFLQY7CFQ6CXJhbmtpCg%3D%3D--f3fe8fec5c85c40b1e4c361429a67902c6cb164b">丢失了谷歌验证怎么办？</a>
                                                        </li>

                                                    </ul>
                                                </section>
                                            </div>
                                        </div>
                                        <div class="col-md-12 article-comments padding-0">
                                            <h3 class="comment-heading">
                                                评论
                                            </h3>
                                            <p class="comment-callout">0 条评论</p>
                                        </div>
                                        <div class="col-md-12 wen_zhang_xian padding-0">
                                            <p>文章评论已关闭。</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>

                                </div>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
{include file="public/foot" /}