{include file="public/header" /}
{include file="public/head" /}
<link type="text/css" href="/static/www/css/foot_menu/terms_of_use.css" rel="stylesheet">

</head>
<body class="background_pic_zuo1">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!--第一层-->
                <div class="col-md-12 notices_one">
                    <div class="col-md-6 menu">
                        <ul>
                            <li><a href="#">hpx.com</a></li>
                            <li> > </li>
                            <li><span>帮助中心</span></li>
                        </ul>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 sou_suo">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="iconfont icon-sou"></i></span>
                            <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" placeholder="搜索">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 content padding-0">
                    <div class="col-md-3 text-menu"></div>
                    <div class="col-md-9 content padding-0">
                        <div class="col-md-12 padding-0">
                            <header class="article-header">
                                <div class="col-md-12 padding-0">
                                    <h1 class="article-title">帮助中心</h1>
                                </div>
                                <div class="col-md-12 article-author padding-0">
                                    <div class="section-tree help">
                                        <div class="col-md-6 padding-0">
                                            <section class="section ">
                                                <h3 class="section-tree-title">
                                                    <a href="">常见问题</a>
                                                </h3>
                                                <ul class="article-list">
                                                    <li class="article-list-item article-promoted">
                                                        <span data-title="被推荐的文章" class="icon-star"></span>
                                                        <a href="" class="article-list-link">丢失了谷歌验证怎么办？</a>
                                                    </li>
                                                    <li class="article-list-item">
                                                        <a href="" class="article-list-link">HPX交易所币种介绍</a>
                                                    </li>
                                                    <li class="article-list-item">
                                                        <a href="" class="article-list-link">币种区块链浏览器 </a>
                                                    </li>
                                                    <li class="article-list-item">
                                                        <a href="" class="article-list-link">我无法打开交易所怎么办？</a>
                                                    </li>
                                                </ul>
                                            </section>
                                        </div>
                                        <div class="col-md-1 padding-0"></div>
                                        <div class="col-md-5 padding-0">
                                            <section class="section">
                                                <h3 class="section-tree-title">
                                                    <a href="/hc/zh-cn/sections/360000663413-%E4%BA%8C%E6%AC%A1%E9%AA%8C%E8%AF%81">二次验证</a>

                                                </h3>

                                                <ul class="article-list">

                                                    <li class="article-list-item">

                                                        <a href="/hc/zh-cn/articles/360003046773-%E6%94%B6%E4%B8%8D%E5%88%B0%E7%9F%AD%E4%BF%A1%E6%80%8E%E4%B9%88%E5%8A%9E-" class="article-list-link">收不到短信怎么办？</a>
                                                    </li>

                                                    <li class="article-list-item">

                                                        <a href="/hc/zh-cn/articles/360002979793-%E5%A6%82%E4%BD%95%E8%AE%BE%E7%BD%AE%E8%B0%B7%E6%AD%8C%E8%BA%AB%E4%BB%BD%E9%AA%8C%E8%AF%81%E7%A0%81-" class="article-list-link">如何设置谷歌身份验证码？</a>
                                                    </li>

                                                </ul>


                                            </section>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-two padding-0">
                                                <div class="col-md-6">
                                                    <section class="section">
                                                        <h3 class="section-tree-title">
                                                            <a href="">交易指南</a>
                                                        </h3>
                                                        <ul class="article-list">
                                                            <li class="article-list-item article-promoted">
                                                                <span data-title="被推荐的文章" class="icon-star"></span>
                                                                <a href="/hc/zh-cn/articles/360007782573-%E6%B3%95%E5%B8%81%E4%BA%A4%E6%98%93%E6%93%8D%E4%BD%9C%E6%8C%87%E5%8D%97" class="article-list-link">法币交易操作指南</a>
                                                            </li>
                                                        </ul>
                                                    </section>
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-md-5 ">
                                                    <section class="section">
                                                        <h3 class="section-tree-title">
                                                            <a href="/hc/zh-cn/sections/360000663393-%E5%85%85%E5%80%BC%E6%8F%90%E7%8E%B0">充值提现</a>

                                                        </h3>

                                                        <ul class="article-list">

                                                            <li class="article-list-item">

                                                                <a href="/hc/zh-cn/articles/360002985053-HPX%E6%95%B0%E5%AD%97%E8%B5%84%E4%BA%A7%E5%85%85%E6%8F%90%E6%89%8B%E7%BB%AD%E8%B4%B9%E8%AF%B4%E6%98%8E" class="article-list-link">HPX数字资产充提手续费说明</a>
                                                            </li>

                                                            <li class="article-list-item">

                                                                <a href="/hc/zh-cn/articles/360002978933-%E6%88%91%E5%85%85%E5%80%BC-%E6%8F%90%E7%8E%B0%E5%90%8E-%E5%A4%9A%E4%B9%85%E5%88%B0%E8%B4%A6-" class="article-list-link">我充值/提现后，多久到账？</a>
                                                            </li>

                                                        </ul>


                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
{include file="public/foot" /}