{include file="public/header" /}
{include file="public/head" /}
<link type="text/css" href="/static/www/css/foot_menu/terms_of_use.css" rel="stylesheet">

</head>
<body class="background_pic_zuo1">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!--第一层-->
                <div class="col-md-12 notices_one">
                    <div class="col-md-6 menu">
                        <ul>
                            <li><a href="#">hpx.com</a></li>
                            <li> > </li>
                            <li><a href="#">关于我们</a></li>
                            <li> > </li>
                            <li><a href="#">法律支持</a></li>
                        </ul>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 sou_suo">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="iconfont icon-sou"></i></span>
                            <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
                        </div>
                    </div>
                </div>
                <!--第二层，新币上新，热门活动，最新公告-->
                <div class="col-md-12 content">
                    <!--空白-->
                    <div class="col-md-2">
                        <section class="article-sidebar">
                            <section aria-expanded="true">
                                <h3>此组别内的文章</h3>
                                <ul>
                                    <li>
                                        <a class="btn btn-primary-menu btn-lg " href="/use" >使用条款</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-primary-menu btn-lg xuan_zhong" href="/privacy">隐私条款</a>
                                    </li>
                                </ul>
                            </section>
                        </section>
                    </div>
                    <div class="col-md-10 content">
                        <!--公告中心-->
                        <div class="col-md-12">
                            <header class="article-header">
                                <h1 title="使用条款" class="article-title">隐私条款</h1>
                                <div class="col-md-12 article-author padding-0">
                                    <div class="col-md-1 avatar">
                                        <img src="https://hpx.zendesk.com/system/photos/3602/4269/5914/未标题-1.jpg" alt="Avatar" class="user-avatar">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="article-meta">Admin
                                            <ul class="meta-group">
                                                <li class="meta-data">2 个月前</li>
                                                <li class="meta-data">更新于</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="article-subscribe btn btn-primary btn-sm"  href="#">关注</a>
                                    </div>
                                    <div class="col-md-10 padding-0">
                                        <div class="col-md-12 text padding-0">
                                            <section class="article-info">
                                                <div class="article-content">
                                                    <div class="article-body" deep="6"><p>保护您的隐私对我们来说很重要。这个声明概述了HPX如何管理我们所掌握的客户，股东和其他人的个人信息的政策。它仅适用于HPX交易所和它的合作伙伴。</p>
                                                        <p><br data-filtered="filtered">HPX的政策是尊重并且保密用户个人的隐私。HPX将定期审查隐私政策，考虑新的法律和技术和我们的运营情况，并确保它适合不断变化的环境。我们收集的所有信息将受我们网站上最新隐私政策的管辖。</p>
                                                        <p><br data-filtered="filtered">在HPX交易所，我们相信，作为我们的在线访问者（“用户”），您有权了解，在访问我们的网站（“网站”）时收集信息的惯例以及收集何种类型的信息。本指南包含的准则适用于您访问HPX运营的所有网站，但不包括将用户链接到其他互联网域的任何重定向网址。与HPX网站及其关联公司链接的其他网站可能有不同的政策；因此，请查阅这些网站上的隐私政策声明以了解详情。如果您选择不提供信息，我们需要此信息满足您对特定产品或服务的要求，否则我们可能无法向您提供所需的产品或服务。</p>
                                                        <p>&nbsp;A.&nbsp;<strong>个人身份信息</strong></p>
                                                        <p>HPX可能会以各种方式收集用户的个人身份信息，包括但不限于用户访问我们的网站，在我们的网站上注册，下订单，填写表格以及与其他活动，服务，功能或我们网站提供的资源。用户可能会被要求提供姓名，电子邮件地址，电话号码。以及某些服务要求用户提供居住地址，出生日期，国籍，性别，身份证明文件以及相关的银行和支付卡信息。</p>
                                                        <p>&nbsp;</p>
                                                        <p>只有当用户自愿向HPX提交这些信息时，HPX才会收集用户的个人身份信息。用户可以始终拒绝提供个人身份信息，但可能会阻止他们参与某些与网站相关的活动。我们只会收集您更多的信息分享给我们的支持团队。</p>
                                                        <p>&nbsp;B.&nbsp;<strong>非个人身份信息</strong></p>
                                                        <p>只要他们与HPX的网站互动，我们可能收集有关用户的非个人身份信息。非个人身份信息可能包含有关用户与我们网站的连接方式的技术信息，例如用户浏览器，计算机操作系统，智能手机，所使用的互联网服务提供商以及其他类似信息的详细信息。</p>
                                                        <p>&nbsp;C.&nbsp;<strong>网页浏览器</strong><strong>C</strong><strong>ookies</strong></p>
                                                        <p>HPX的网站可能会使用“Cookies”来增强用户的体验。用户的网络浏览器在他们的硬盘上放置Cookie以便记录，并且实时追踪他们的信息。用户可以选择将其浏览器设置为拒绝Cookies，或者在使用Cookies时提醒您。</p>
                                                        <p>请注意，这样做，本网站的某些部分可能无法正常运行。</p>
                                                        <p>&nbsp;D.&nbsp;<strong>我们将如何使用您的个人信息？</strong></p>
                                                        <p>您提供给HPX的个人信息将使我们能够：</p>
                                                        <ul>
                                                            <li>改善客户服务——您提供的信息有助于我们更有效地响应客户服务请求和支持需求。</li>
                                                            <li>处理交易——我们可能会使用用户在下订单时提供的信息，只为该订单提供服务。除了提供服务所需的范围之外，我们不会与外部各方共享此信息。</li>
                                                            <li>遵守合规要求——我们可能会使用用户提供的信息，以确保与我们合作的受监管公司能够履行有关洗钱，恐怖融资和其他形式财务合规的立法义务。在必要的情况下，与外部各方共享此信息以提供服务。</li>
                                                        </ul>
                                                        <p>&nbsp;</p>
                                                        <p>HPX会定时聘请其他公司代表我们提供服务，包括但不限于处理客户支持问题，处理交易。这些公司只能获得他们提供服务所需的个人信息。HPX采取合理措施确保这些组织受保护个人信息的保密性和隐私义务的约束。</p>
                                                        <p>&nbsp;E.&nbsp;<strong>用户会收到什么类型信息？</strong></p>
                                                        <p>特别优惠和更新</p>
                                                        <p>HPX偶尔会向您发送有关产品，服务和特别优惠的信息。定期的电子邮件发送是与用户交易有关的更新。它也可能用于回答用户的问题，或其他请求。如果用户决定加入我们HPX的邮件列表，他们将收到包含公司新闻，更新，相关产品或服务信息等的电子邮件。如果用户在任何时候想要取消订阅未来收到的电子邮件，我们将包括细节和取消订阅指示在每封电子邮件的底部或用户可通过我们的网站与我们联系。</p>
                                                        <p>&nbsp;F.&nbsp;<strong>我能选择收集，使用和分发我的个人信息吗？</strong></p>
                                                        <p>HPX允许您控制使用我们可能获得的个人识别信息的方式。当您提供个人信息时，HPX可能会让您选择拒绝任何未来的付款或有关新产品，促销或服务的信息。此外，HPX可能向您发送的“邮件”，如通讯，其中有程序取消收到任何未来的邮件。最后，您可能有机会被强制“退出”。</p>
                                                        <p>&nbsp;G.&nbsp;<strong>多媒体信息安全吗？</strong></p>
                                                        <p>HPX已采取措施确保收集的所有信息将保持安全并保持其原始形式，即免费更改。因此，所有个人信息的访问都受到严格控制。HPX采用准确的数据收集，存储和处理实践以及安全措施，以防止未经授权访问，更改，披露或破坏您的个人信息，用户名，密码，交易信息以及经由我们网站存储和处理的数据。</p>
                                                        <p>&nbsp;</p>
                                                        <p>站点与其用户之间的敏感与私密数据的交换发生在SSL安全通信通道上，并通过数字签名进行加密和保护。我们将您的个人信息和非个人信息安全地存储在HPX帐户的整个生命周期中，这些帐户在我们位于HPX设施或服务供应商所在的世界其他地方的计算机上。应法律需求，HPX将保留您的个人信息至少五年或必要时遵守我们的合法义务或解决纠纷。</p>
                                                        <p>&nbsp;</p>
                                                        <p>虽然HPX不能保证未经授外部人员的访问用户的个人信息，但请放心，HPX在维护您个人信息的安全性以及专业的技术用来防止未经授权的情况下使用用户的个人信息。</p>
                                                        <p>&nbsp;H.&nbsp;<strong>分享您的个人信息 </strong></p>
                                                        <p>HPX不会出售，交易或出租用户的个人身份信息给他人。</p>
                                                        <p>为了上述目的，我们可能会将与访问者和用户有关的任何个人识别信息与我们的业务合作伙伴，可信关联公司和广告客户共享通用聚合人口统计信息。我们可能会与您分享您的个人信息：</p>
                                                        <ul>
                                                            <li>我们运营的金融机构，支付处理商和身份服务提供商。</li>
                                                            <li>合同下的服务提供商帮助我们的业务运营部分，如欺诈预防，合规性，市场营销和技术服务。我们的合同规定，这些服务提供商仅将您的信息用于他们为我们执行的服务，而不是为了他们自己的利益。</li>
                                                            <li>执法机构，政府官员或其他第三方：</li>
                                                        </ul>
                                                        <p>我们不得不通过传票，法院命令或类似的法律程序这样做；我们坚信，披露个人信息对于防止人身伤害或财务损失，报告被怀疑的非法活动或调查违反我们用户协议的行为都是必要的。</p>
                                                        <ul>
                                                            <li>其他第三方在您的同意或指示下这样做：</li>
                                                        </ul>
                                                        <p>用户可能会在我们的网站上找到与我们的合作伙伴，供应商，广告商，赞助商，许可商和其他第三方的网站和服务相关的广告或其他内容。我们不能控制在这些网站上出现的内容或链接，也不对链接到或来自我们网站的网站使用的操作负责。此外，这些网站或服务（包括其内容和链接）可能会不断变化。这些网站和服务可能有自己的隐私政策和客户服务政策。任何其他网站（包括与我们网站有链接的网站）上的浏览和互动受制于该网站自己的条款和政策。&nbsp;</p>
                                                        <p>&nbsp;I.&nbsp;<strong>停用</strong><strong>您的账户</strong></p>
                                                        <p>如果您停用HPX账户，我们会将您账户的数据库标记为“已停用”，但会在上述一段时间内将您的账户信息保存在我们的数据库中。为了防止欺诈行为，确保试图实施诈骗的人仅仅通过关闭账户和开立新账户就无法被发现，这一阻止是非常必要的。如果您确实停用了您的帐户，除非法律要求或根据本隐私政策，防止欺诈和助手执法，否则HPX不会将您的个人身份识别信息用于任何目的，推荐或与第三方共享。</p>
                                                        <p>&nbsp;J.&nbsp;<strong>网站</strong><strong>如何保持个人信息的准确和最新？ </strong></p>
                                                        <p>HPX努力确保其拥有的个人信息准确并且最新。我们意识到，用户信息会随着地址和其他个人情况的变化而频繁变化。我们通常会通过电话更新您的客户信息，通过您的注册电子邮件地址发送电子邮件或者通过电子交易服务在线更新。</p>
                                                        <p>&nbsp;K.&nbsp;<strong>如果您有抱怨或是不满？</strong></p>
                                                        <p>如果您认为HPX违反本隐私政策声明或其他行为不尊重您的隐私，您可以提出投诉，并且立即采取行动。如果您要发表意见，请发电子邮件至 <a href="mailto:support@hpx.com"><u>support@hpx.com</u></a>我们欢迎您的意见。</p>
                                                        <p>&nbsp;L.&nbsp;<strong>同意处理</strong></p>
                                                        <p>通过向HPX提供任何个人信息，所有用户在完全理解并明确同意收集和处理此类信息。如果您不同意此政策，请不要使用我们的网站。</p>
                                                        <p>&nbsp;M.&nbsp;<strong>政策管理使用</strong><strong>和</strong><strong>隐私政策的变化 </strong></p>
                                                        <p>HPX的隐私政策可能会随时间而改变。未经您的明确同意，我们不会根据本隐私政策减少您的权利。我们会在此页面上发布任何隐私政策变更，如果变化很大，我们将提供特殊的通知。</p>
                                                        <p>&nbsp;N.&nbsp;<strong>联系我们</strong></p>
                                                        <p>HPX欢迎您对此隐私政策提出意见。如果您对本隐私政策有任何疑问并希望了解更多信息，请通过电子邮件与我们联系：<a href="mailto:support@hpx.com"><u>support@hpx.com</u></a>&nbsp;</p></div>

                                                    <div class="article-attachments">
                                                        <ul class="attachments">

                                                        </ul>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-md-12 padding-0">
                                            <footer>
                                                <div class="col-md-12 padding-0">
                                                    <div class="article-footer">
                                                        <div class="article-share">
                                                            <ul class="share">
                                                                <li><a href="#" class="iconfont icon-facebook"></a></li>
                                                                <li><a href="#" class="iconfont icon-twitter"></a></li>
                                                                <li><a href="#" class="iconfont icon-linkedin"></a></li>
                                                                <li><a href="#" class="iconfont icon-gugegoogle115"></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12" style="height: 1px;background-color: #666"></div>
                                                <div class="col-md-12 padding-0 text-center article-votes-question">
                                                    <span>这篇文章有帮助吗？</span>
                                                    <div class="article-votes-controls">
                                                        <a class="btn btn-primary btn-lg"   href="">√ 是</a>
                                                        <a class="btn btn-primary btn-lg"   href="">× 否</a>
                                                    </div>
                                                    <div class="col-md-12 article-votes-count">
                                                        <span class="article-vote-label">0 人中有 0 人觉得有帮助</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 article-more-questions text-center">
                                                    还有其它问题？<a href="#">提交请求</a>
                                                </div>
                                            </footer>
                                        </div>
                                        <div class="col-md-12 padding-0 article-relatives">
                                            <div class="recent-articles col-md-6 padding-0">
                                                <h3>最近查看的文章</h3>
                                                <ul>
                                                    <li>
                                                        <a href="#">使用条款</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">我充值/提现后，多久到账？</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">HPX数字资产充提手续费说明</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">我充值/提现后，多久到账？</a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="related-articles col-md-6 padding-0">
                                                <h3>相关文章</h3>
                                                <ul>
                                                    <li>
                                                        <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCG3jItJTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCGZ0IdJTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSJJL2hjL3poLWNuL2FydGljbGVzLzM2MDAwNzc4NzM3My0lRTklOUElOTAlRTclQTclODElRTYlOUQlQTElRTYlQUMlQkUGOwhUOglyYW5raQY%3D--3b370a42d2b8f7c721d37194930e25ba102bf5d6">使用条款</a>
                                                    </li>

                                                    <li>
                                                        <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCL7SC9JTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCGZ0IdJTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSJJL2hjL3poLWNuL2FydGljbGVzLzM2MDAwNjI3NTc3NC0lRTUlQjklQjMlRTUlOEYlQjAlRTclQUUlODAlRTQlQkIlOEIGOwhUOglyYW5raQc%3D--9c28dee3b3a3130f15b136619040e33cfd60b175">Terms & Conditions</a>
                                                    </li>

                                                    <li>
                                                        <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCDV4NNJTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCGZ0IdJTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSI1L2hjL3poLWNuL2FydGljbGVzLzM2MDAwODkzOTU3My1UZXJtcy1Db25kaXRpb25zBjsIVDoJcmFua2kI--fdf3da1e0c496bb11eddffdc46e8075f3f5d4a38">法币交易操作指南</a>
                                                    </li>

                                                    <li>
                                                        <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCAZhIdJTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCGZ0IdJTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSJkL2hjL3poLWNuL2FydGljbGVzLzM2MDAwNzY4ODQ1NC1IUFgtMi0wLSVFNSU4NSVBOCVFNyU5MCU4MyVFOSU5QyU4NyVFNiU5MiVCQyVFNSU4RiU5MSVFNSVCOCU4My0GOwhUOglyYW5raQk%3D--bc1f32044de7ec60a320c4abcc152736753230ff">API支持</a>
                                                    </li>

                                                    <li>
                                                        <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCM73K9JTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCGZ0IdJTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSIBmC9oYy96aC1jbi9hcnRpY2xlcy8zNjAwMDgzODI0MTQtSFBYJUU0JUJBJUE0JUU2JTk4JTkzJUU2JTg5JTgwJUU2JTlDJTgwJUU2JTk2JUIwJUU3JTg5JTg4JUU3JUE3JUJCJUU1JThBJUE4JUU3JUFCJUFGJUU2JUFEJUEzJUU1JUJDJThGJUU1JThGJTkxJUU1JUI4JTgzBjsIVDoJcmFua2kK--805d0368bcfeee0dcb48615512dfc21aff8fa5cb">HPX数字资产充提手续费说明</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-12 article-comments padding-0">
                                            <h3 class="comment-heading">
                                                评论
                                            </h3>
                                            <p class="comment-callout">0 条评论</p>
                                        </div>
                                        <div class="col-md-12 wen_zhang_xian padding-0">
                                            <p>文章评论已关闭。</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
{include file="public/foot" /}