{include file="public/header" /}
{include file="public/head" /}
<link type="text/css" href="/static/www/css/foot_menu/terms_of_use.css" rel="stylesheet">

</head>
<body class="background_pic_zuo1">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!--第一层-->
                <div class="col-md-12 notices_one">
                    <div class="col-md-6 menu">
                        <ul>
                            <li><a href="#">hpx.com</a></li>
                            <li> > </li>
                            <li><a href="#">帮助中心</a></li>
                            <li> > </li>
                            <li><a href="#">充值提现</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3 sou_suo text-right">
                        <div class="input-group search_width">
                            <span class="input-group-addon"><i class="iconfont icon-sou"></i></span>
                            <input type="text" class="form-control" placeholder="搜索">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 content">
                    <!--空白-->
                    <div class="col-md-2 text-menu">
                        <section class="article-sidebar">
                            <section aria-expanded="true">
                                <h3>此组别内的文章</h3>
                                <ul>
                                    <li>
                                        <a class="btn btn-primary-menu btn-lg xuan_zhong" href="#"  style="height: 60px">HPX数字资产充提手续费说明</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-primary-menu btn-lg " href="/account" style="height: 60px">我充值/提现后，多久到账？</a>
                                    </li>
                                </ul>
                            </section>
                        </section>
                    </div>
                    <div class="col-md-10 content">
                        <div class="col-md-12">
                            <header class="article-header">
                                <h1 class="article-title">HPX数字资产充提手续费说明</h1>
                                <div class="col-md-12 article-author padding-0">
                                    <div class="col-md-1 avatar padding-0">
                                        <img src="https://hpx.zendesk.com/system/photos/3602/4269/5914/未标题-1.jpg" alt="Avatar" class="user-avatar">
                                    </div>
                                    <div class="col-md-8 padding-0">
                                        <div class="article-meta">Admin
                                            <ul class="meta-group">
                                                <li class="meta-data">2 个月前</li>
                                                <li class="meta-data">更新于</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="article-subscribe btn btn-primary btn-sm"  href="#">关注</a>
                                    </div>
                                    <div class="col-md-12 text padding-0">
                                        <section class="article-info">
                                            <div class="article-content">
                                                <div class="article-body">
                                                    <h2>充值：</h2>
                                                    <h3>免费</h3>
                                                    <p>&nbsp;</p>
                                                    <p>&nbsp;</p>
                                                    <h2>交易手续费：</h2>
                                                    <p>&nbsp;</p>
                                                    <h3>0.1%</h3>
                                                    <p>&nbsp;</p>
                                                    <h2>HPX提现手续费</h2>
                                                    <p>&nbsp;</p>
                                                    <table>
                                                        <tbody>
                                                        <tr class="table_top">
                                                            <td width="106">
                                                                <p><strong>代币名称</strong></p>
                                                            </td>
                                                            <td width="129">
                                                                <p><strong>最少提币数量</strong></p>
                                                            </td>
                                                            <td width="132">
                                                                <p><strong>提现手续费</strong></p>
                                                            </td>
                                                            <td width="132">
                                                                <p><strong>提币限额</strong><strong>（</strong><strong>初级认证）</strong></p>
                                                            </td>
                                                            <td width="141">
                                                                <p><strong>提币限额（高级验证）</strong></p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="106">
                                                                <p><strong>BTC</strong></p>
                                                            </td>
                                                            <td width="129">
                                                                <p>0.02 BTC</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>0.001 BTC</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>2&nbsp;BTC</p>
                                                            </td>
                                                            <td width="141">
                                                                <p>10&nbsp;BTC</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="106">
                                                                <p><strong>ETH</strong></p>
                                                            </td>
                                                            <td width="129">
                                                                <p>0.02 ETH</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>0.01 ETH</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>10 ETH</p>
                                                            </td>
                                                            <td width="141">
                                                                <p>100 ETH</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="106">
                                                                <p><strong>HSR</strong></p>
                                                            </td>
                                                            <td width="129">
                                                                <p>0.01 HSR</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>0.001 HSR</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>1500 HSR</p>
                                                            </td>
                                                            <td width="141">
                                                                <p>7500 HSR</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="106">
                                                                <p><strong>EOS</strong></p>
                                                            </td>
                                                            <td width="129">
                                                                <p>1 EOS</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>0.5 EOS</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>1000 EOS</p>
                                                            </td>
                                                            <td width="141">
                                                                <p>20,000 EOS</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="106">
                                                                <p><strong>EET</strong></p>
                                                            </td>
                                                            <td width="129">
                                                                <p>5 EET</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>5 EET</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>100,000 EET</p>
                                                            </td>
                                                            <td width="141">
                                                                <p>500,000 EET</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="106">
                                                                <p><strong>BTV</strong></p>
                                                            </td>
                                                            <td width="129">
                                                                <p>0.1 BTV</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>0.01 BTV</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>1000&nbsp;BTV</p>
                                                            </td>
                                                            <td width="141">
                                                                <p>10,000 BTV</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="106">
                                                                <p><strong>HPY</strong></p>
                                                            </td>
                                                            <td width="129">
                                                                <p>100 HPY</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>50 HPY</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>200，000 HPY</p>
                                                            </td>
                                                            <td width="141">
                                                                <p>500，000 HPY</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="106">
                                                                <p><strong>NEO</strong></p>
                                                            </td>
                                                            <td width="129">
                                                                <p>1 NEO</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>无</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>500 NEO</p>
                                                            </td>
                                                            <td width="141">
                                                                <p>10,000 NEO</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="106">
                                                                <p><strong>TRX</strong></p>
                                                            </td>
                                                            <td width="129">
                                                                <p>50 TRX</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>20 TRX</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>3,500,000 TRX</p>
                                                            </td>
                                                            <td width="141">
                                                                <p>17,000,000 TRX</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="106">
                                                                <p><strong>LEEK</strong></p>
                                                            </td>
                                                            <td width="129">
                                                                <p>100 LEEK</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>20 LEEK</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>200，000 LEEK</p>
                                                            </td>
                                                            <td width="141">
                                                                <p>500,000 LEEK</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="106">
                                                                <p><strong>DOGE</strong></p>
                                                            </td>
                                                            <td width="129">
                                                                <p>200 DOGE</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>50 DOGE</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>100,000 DOGE</p>
                                                            </td>
                                                            <td width="141">
                                                                <p>500,000 DOGE</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="106">
                                                                <p><strong>ZEC</strong></p>
                                                            </td>
                                                            <td width="129">
                                                                <p>0.01 ZEC</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>0.001 ZEC</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>200 ZEC</p>
                                                            </td>
                                                            <td width="141">
                                                                <p>2000&nbsp;ZEC</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="106">
                                                                <p><strong>LTC</strong></p>
                                                            </td>
                                                            <td width="129">
                                                                <p>0.01 LTC</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>0.01 LTC</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>200 LTC</p>
                                                            </td>
                                                            <td width="141">
                                                                <p>2000 LTC</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="106">
                                                                <p><strong>GSC</strong></p>
                                                            </td>
                                                            <td width="129">
                                                                <p>20 GSC</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>10&nbsp;GSC</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>100，000 GSC</p>
                                                            </td>
                                                            <td width="141">
                                                                <p>1，000，000&nbsp;GSC</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="106">
                                                                <p><strong>ADD</strong></p>
                                                            </td>
                                                            <td width="129">
                                                                <p>20 ADD</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>5 ADD</p>
                                                            </td>
                                                            <td width="132">
                                                                <p>200，000&nbsp;ADD</p>
                                                            </td>
                                                            <td width="141">
                                                                <p>1，000，000&nbsp;ADD</p>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table></div>

                                                <div class="article-attachments">
                                                    <ul class="attachments">

                                                    </ul>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="col-md-10 padding-0">
                                        <div class="col-md-12 padding-0">
                                            <footer>
                                                <div class="col-md-12 padding-0">
                                                    <div class="article-footer">
                                                        <div class="article-share">
                                                            <ul class="share">
                                                                <li><a href="#" class="iconfont icon-facebook"></a></li>
                                                                <li><a href="#" class="iconfont icon-twitter"></a></li>
                                                                <li><a href="#" class="iconfont icon-linkedin"></a></li>
                                                                <li><a href="#" class="iconfont icon-gugegoogle115"></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12" style="height: 1px;background-color: #666"></div>
                                                <div class="col-md-12 padding-0 text-center article-votes-question">
                                                    <span>这篇文章有帮助吗？</span>
                                                    <div class="article-votes-controls">
                                                        <a class="btn btn-primary btn-lg"   href="">√ 是</a>
                                                        <a class="btn btn-primary btn-lg"   href="">× 否</a>
                                                    </div>
                                                    <div class="col-md-12 article-votes-count">
                                                        <span class="article-vote-label">0 人中有 0 人觉得有帮助</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 article-more-questions text-center">
                                                    还有其它问题？<a href="#">提交请求</a>
                                                </div>
                                            </footer>
                                        </div>
                                        <div class="col-md-12 padding-0 article-relatives">
                                            <div class="col-md-12 padding-0 wen_zhang_height">
                                                <div class="col-md-6">
                                                    <section class="recent-articles">
                                                        <h3>最近查看的文章</h3>
                                                        <ul>
                                                            <li>
                                                                <a href="">我充值/提现后，多久到账？</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">隐私条款</a>
                                                            </li>
                                                            <li>
                                                                <a href="">使用条款</a>
                                                            </li>

                                                        </ul>
                                                    </section>
                                                </div>
                                                <div class="col-md-6">
                                                    <section class="related-articles">
                                                        <h3>相关文章</h3>
                                                        <ul>
                                                            <li>
                                                                <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCHWE2dFTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCF2c2dFTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSIBfS9oYy96aC1jbi9hcnRpY2xlcy8zNjAwMDI5Nzg5MzMtJUU2JTg4JTkxJUU1JTg1JTg1JUU1JTgwJUJDLSVFNiU4RiU5MCVFNyU4RSVCMCVFNSU5MCU4RS0lRTUlQTQlOUElRTQlQjklODUlRTUlODglQjAlRTglQjQlQTYtBjsIVDoJcmFua2kG--a7e322bc442231404d2cc4d86b21a4e9b6f989fd">我充值/提现后，多久到账？</a>
                                                            </li>
                                                            <li>
                                                                <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCL7SC9JTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCF2c2dFTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSJJL2hjL3poLWNuL2FydGljbGVzLzM2MDAwNjI3NTc3NC0lRTUlQjklQjMlRTUlOEYlQjAlRTclQUUlODAlRTQlQkIlOEIGOwhUOglyYW5raQc%3D--d374aff274a07ef7e8b815ae595e816acf51377a">平台简介</a>
                                                            </li>
                                                            <li>
                                                                <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCPpNHdJTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCF2c2dFTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSI6L2hjL3poLWNuL2FydGljbGVzLzM2MDAwNzQyMTQzNC1BUEklRTYlOTQlQUYlRTYlOEMlODEGOwhUOglyYW5raQg%3D--78547b5833546c6275d4276ca62fefd233630dc3">API支持</a>
                                                            </li>
                                                            <li>
                                                                <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCC3VDNJTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCF2c2dFTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSJJL2hjL3poLWNuL2FydGljbGVzLzM2MDAwNjM0MTkzMy0lRTglODElOTQlRTclQjMlQkIlRTYlODglOTElRTQlQkIlQUMGOwhUOglyYW5raQk%3D--9efea3f37b741fa806cbd6e84954f2bfb5da230f">联系我们</a>
                                                            </li>
                                                            <li>
                                                                <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCKGZ2dFTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCF2c2dFTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSJnL2hjL3poLWNuL2FydGljbGVzLzM2MDAwMjk4NDM1My1IUFglRTQlQkElQTQlRTYlOTglOTMlRTYlODklODAlRTUlQjglODElRTclQTclOEQlRTQlQkIlOEIlRTclQkIlOEQGOwhUOglyYW5raQo%3D--d33796d2b49ad6385d9f9498dd7f8b4309ab509c">HPX交易所币种介绍</a>
                                                            </li>
                                                        </ul>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 article-comments padding-0">
                                            <h3 class="comment-heading">
                                                评论
                                            </h3>
                                            <p class="comment-callout">0 条评论</p>
                                        </div>
                                        <div class="col-md-12 wen_zhang_xian padding-0">
                                            <p>文章评论已关闭。</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>

                                </div>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
{include file="public/foot" /}