{include file="public/header" /}
{include file="public/head" /}
<link type="text/css" href="/static/www/css/foot_menu/terms_of_use.css" rel="stylesheet">

</head>
<body class="background_pic_zuo1">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!--第一层-->
                <div class="col-md-12 notices_one">
                    <div class="col-md-6 menu">
                        <ul>
                            <li><a href="#">hpx.com</a></li>
                            <li> > </li>
                            <li><a href="#">关于我们</a></li>
                            <li> > </li>
                            <li><a href="#">法律支持</a></li>
                        </ul>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 sou_suo">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="iconfont icon-sou"></i></span>
                            <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
                        </div>
                    </div>
                </div>
                <!--第二层，新币上新，热门活动，最新公告-->
                <div class="col-md-12 content">
                    <!--空白-->
                    <div class="col-md-3">
                        <section class="article-sidebar">
                            <section aria-expanded="true">
                                <h3>此组别内的文章</h3>
                                <ul>
                                    <li>
                                        <a class="btn btn-primary-menu btn-lg xuan_zhong" href="#" >使用条款</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-primary-menu btn-lg" href="/privacy">隐私条款</a>
                                    </li>
                                </ul>
                            </section>
                        </section>
                    </div>
                    <div class="col-md-9 content">
                        <!--公告中心-->
                        <div class="col-md-12">
                            <header class="article-header">
                                <h1 title="使用条款" class="article-title">使用条款</h1>
                                <div class="col-md-12 article-author padding-0">
                                    <div class="col-md-1 avatar">
                                        <img src="https://hpx.zendesk.com/system/photos/3602/4269/5914/未标题-1.jpg" alt="Avatar" class="user-avatar">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="article-meta">Admin
                                            <ul class="meta-group">
                                                <li class="meta-data">2 个月前</li>
                                                <li class="meta-data">更新于</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <a class="article-subscribe btn btn-primary btn-sm"  href="#">关注</a>
                                    </div>
                                    <div class="col-md-12 text padding-0">
                                        <section class="article-info">
                                            <div class="article-content">
                                                <div class="article-body" deep="6"><p><strong>A. 接受使用条款</strong></p>
                                                    <p>通过使用本网站（“网站”），并进一步注册使用我们的服务，您（“您或您自己”）接受并遵守下述使用条款和条件（“使用条款”）。您应在使用本网站或本网站的任何服务之前仔细阅读整个使用条款。</p>
                                                    <p>&nbsp;</p>
                                                    <p>如本文所用，“HPX”是指公司Hyperchain Technology Ltd。和https://www.hpx.com，包括但不限于其所有者，董事，投资者，雇员或其他相关方。根据具体情况，“HPX”也可能指HPX提供的服务，产品，网站，内容或其他材料（统称为“材料”）。</p>
                                                    <p>&nbsp;</p>
                                                    <p>由HPX运营的服务允许买家和卖家互相购买和销售加密货币。由HPX运营的服务还允许本服务的所有注册用户（“会员”）将加密货币转移给其他会员或本网站外加密货币的其他用户。</p>
                                                    <p>&nbsp;</p>
                                                    <p>根据您的居住国家，您可能无法使用本网站的所有功能。您有责任遵守您访问本网站和服务的居住国和/或国家的规定和法律。只要您同意并确实遵守这些使用条款，HPX就授予您个人，非独占，不可转让，非分可许可和有限的权利，以进入和使用本网站和本服务。</p>
                                                    <p>&nbsp;</p>
                                                    <p>如果您不接受本协议中明示的使用条款和条件，请勿访问本网站，也不要使用本服务。</p>
                                                    <p>&nbsp;</p>
                                                    <p>通过开设帐户以使用服务（“帐户”），您明确声明并保证：</p>
                                                    <p>&nbsp;</p>
                                                    <ul>
                                                        <li>您已接受使用条款</li>
                                                        <li>您至少年满18周岁，并有充分的能力接受这些使用条款并进入涉及加密货币的交易。</li>
                                                    </ul>
                                                    <p><strong>&nbsp;B.&nbsp;</strong><strong>用户的义务和确认</strong></p>
                                                    <p>您承认，一旦下达指示，它就是不可撤销的；一旦交易匹配，它将立即通过平台进行结算和交付。您需要确认，在进入交易时，HPX将从买方和卖方的各自账户发送并接收加密货币。</p>
                                                    <p>&nbsp;</p>
                                                    <p>这是您的责任，您承诺保证您在其账户中持有足够的加密货币，以满足您的任何交易所产生的任何义务和任何其他责任，包括账户上的应付费用。您声明并保证：</p>
                                                    <p>&nbsp;</p>
                                                    <ul>
                                                        <li>您只会操作帐户并使用HPX执行加密货币交易，以达到本条款规定的目的和条件；</li>
                                                        <li>您已获得正式授权并有能力提供每份指令并进入HPX的每笔交易；</li>
                                                        <li>您将遵守马耳他的所有适用法律以及其寻求经营其帐户，给予指示或输入交易的任何其他管辖区的法律；</li>
                                                        <li>存入账户（通过交易除外）的所有金额均来自您拥有或以其他方式拥有全部权力处理的合法来源；</li>
                                                        <li>您使用HPX，提供说明或进入任何交易不会侵犯任何第三方或任何适用法律的权利。</li>
                                                    </ul>
                                                    <p>&nbsp;</p>
                                                    <p>您不会：</p>
                                                    <ul>
                                                        <li>使用HPX进行任何非法活动，包括但不限于洗钱或恐怖主义融资;</li>
                                                        <li>使用HPX来支付任何勒索软件，包括但不限于解密;</li>
                                                        <li>给予任何指令或进入任何交易或做或从事任何其他活动，不会对平台的表现或公司声誉产生负面影响。</li>
                                                    </ul>
                                                    <p>&nbsp;</p>
                                                    <p>您确认在使用HPX并在加密货币中进行持有和交易时，您已经考虑到了接触带来的</p>
                                                    <p><strong>风险</strong>，包括以下风险：</p>
                                                    <ul>
                                                        <li>加密货币的价值可能会上升或下降</li>
                                                        <li>加密货币的价值将受到HPX控制之外的因素的影响</li>
                                                        <li>任何第三方都不能转让或接受加密货币转让</li>
                                                        <li>任何人不得接受数字货币作为货物和服务的付款</li>
                                                    </ul>
                                                    <p>&nbsp;</p>
                                                    <p>您有责任对其在加密货币中的持有或交易进行任何税务责任，并在本公司有义务就您的账户或任何您持有的或由您购买或出售的加密货币而代表您支付税款的情况下赔偿本公司。</p>
                                                    <p>&nbsp;C.&nbsp;<strong>风险</strong></p>
                                                    <p>货物和产品的交易，真实的或虚拟的，以及加密货币涉及重大风险。价格可以在任何一天发生变化。由于此类价格波动，您可能会在任何特定时刻增加或减少资产价值。任何货币或商品—无论是虚拟的还是非虚拟的，可能会受到巨大的价值波动影响，甚至可能变得毫无价值。由于购买，出售或交易市场上的任何东西而产生损失的固有风险。</p>
                                                    <p>&nbsp;</p>
                                                    <p>只要HPX在网络上被接受和确认，HPX就不能取消或撤销任何加密货币交易。一旦提交给网络，加密货币交易将经过一段时间的验证，等待网络的确认。在此验证完成之前，交易未完成，交易将不会反映在您的HPX帐户余额中，直至完成。</p>
                                                    <p>&nbsp;</p>
                                                    <p>加密货币交易也具有与市场上的官方货币或商品或商品通常不共享的特殊风险。与大多数由政府或其他法人支持的货币或者诸如黄金或白银的商品不同，加密货币是一种独特的货币，以技术和信任为基础。没有一家中央银行可以采取纠正措施来保护加密货币的价值，从而避免危机或更多货币。</p>
                                                    <p>&nbsp;</p>
                                                    <p>加密货币交易可能会受到非理性（或理性）泡沫或信心丧失的影响，这可能会导致需求相对于供应量下降。由于加密货币内的因素如技术问题，用户信心也可能崩溃。</p>
                                                    <p>IE：如果系统的完整性受损，资金丢失或被盗，或者黑客或政府能够阻止任何交易的解决。我们在我们的使用条款中未预见或确定可能存在额外风险。您应仔细评估您的财务状况和风险容忍度是否适合购买，出售或加密货币。</p>
                                                    <p>&nbsp;D.&nbsp;<strong>有限的使用权</strong></p>
                                                    <p>除非另有规定，否则本网站上的所有资料均为HPX的财产，并受版权，商标和其他适用法律的保护。只要您可以保留完整的版权和其他所有权声明，您可以在任何单台计算机上查看，打印和/或下载本网站上材料的副本，仅用于您的个人，信息，非商业用途。</p>
                                                    <p>&nbsp;</p>
                                                    <p>HPX及其在本网站中使用的商标，服务标志和徽标（“商标”）均为HPX及其各自所有者的财产。本网站使用的软件，文本，图像，图形，数据，价格，交易，图表，图形，视频和音频属于HPX。商标和材料不得以任何形式或通过手动或自动方式复制，复制，修改，重新发布，上传，发布，传播，刮取，收集或分发。严禁在其他网站或联网计算机环境中使用任何此类材料作任何其他用途；任何此类未经授权的使用可能违反版权，商标和其他适用法律，并可能导致刑事或民事处罚。</p>
                                                    <p>&nbsp;E.&nbsp;<strong>可接受的使用范围</strong></p>
                                                    <p>本网站仅用于个人和非商业用途，我们对维护我们网站和服务的安全保持警惕。通过向我们注册，您同意根据注册流程的提示向HPX提供有关您自己的当前，准确和完整的信息，并保持此类信息的最新状态。您进一步了解，您不会使用除您自己以外的任何帐户，或随时访问任何其他成员的帐户，或协助他人获取未经授权的访问。</p>
                                                    <p>&nbsp;</p>
                                                    <p>未经过HPX事先明确许可而创建或使用帐户将导致所有上述帐户以及所有待处理的购买/销售优惠立即停止。任何试图这样做或帮助他人（会员或其他）或分配为此目的的指令，软件或工具，将导致这些成员的账户被终止。终止并不是针对此类违规行为的唯一补救措施，HPX可能会选择对您进行进一步处理。</p>
                                                    <p>&nbsp;</p>
                                                    <p>您还负责维护您帐户信息的保密性，包括您的密码，保护您自己的数字货币以及所有活动，包括发布到您帐户的交易。如果您的帐户存在可疑活动，我们可能（但没有义务）要求您提供额外信息，包括验证文档，并冻结任何正在等待审核的交易。您有义务遵守这些安全要求，或接受终止您的帐户。如果您未经授权使用您的账户或密码或通过电子邮件发送给<a href="mailto:support@hpx.com"><u>support@h</u><u>px.co</u><u>m</u></a>的任何其他安全违规行为，您必须立即通知HPX。违反这些规定的任何用户可能会被终止，并且此后对HPX或本网站的任何用户造成的损失负责。</p>
                                                    <p>&nbsp;</p>
                                                    <ul>
                                                        <li>您不得以任何方式使用本网站或服务，从而导致或可能导致HPX，我们的服务或HPX业务的损害，包括采取任何行为或疏忽导致或可能导致中断或损害可用性或可访问性的网站或服务；如果您意识到或者应该合理地意识到您提出的任何请求或要求参与您或第三方获得不公平或不当的财务或其他好处的任何行为或行为，包括但不限于不诚实或腐败行为，或任何违反适用于本网站或我们服务的反腐败法律的行为，您必须以书面形式向我们提供任何此类情况，或者行为。</li>
                                                    </ul>
                                                    <p>&nbsp;</p>
                                                    <ul>
                                                        <li>您不得使用本网站复制，存储，托管，传输，发送，使用，发布或分发由（或链接到）任何间谍软件，计算机病毒，特洛伊木马，蠕虫，或其他恶意软件组成的任何材料电脑软件。</li>
                                                    </ul>
                                                    <p>&nbsp;</p>
                                                    <ul>
                                                        <li>未经事先书面通知并获得我方明确的书面同意，您不得在本网站上或与本网站进行任何系统性的自动数据收集活动（包括但不限于搜刮，数据挖掘，数据提取和数据收集）。</li>
                                                    </ul>
                                                    <p>&nbsp;</p>
                                                    <ul>
                                                        <li>您不得有意或无意地使用TOR或任何其他匿名网络或协议访问本网站或我们的服务。任何发现或怀疑这样做的用户都将被标记为可疑，并可能被拒绝访问。</li>
                                                    </ul>
                                                    <p>&nbsp;</p>
                                                    <ul>
                                                        <li>您必须同意不通过我们提供的用于访问我们的网站的接口以外的任何方式访问我们的网站或服务。</li>
                                                    </ul>
                                                    <p>&nbsp;</p>
                                                    <p>最后，您同意您不会使用该服务进行任何形式的犯罪​​活动，包括但不限于洗钱，非法赌博活动，恐怖分子融资，恶意黑客行为。</p>
                                                    <p>&nbsp;F.&nbsp;<strong>身份验证</strong></p>
                                                    <p>根据通过我们的服务或任何可疑活动请求的金额，HPX有权要求提供身份信息（如驾驶证，身份证，发票，政府颁发的照片身份证明，公用事业账单，寄宿证书，同居签署证明或类似的银行信息）这可能表明洗钱或其他非法活动。也可以要求识别转账或转账资金的银行账户。在某些情况下，可能会要求公证某些文件。根据适用的洗钱法，HPX认为身份确认符合要求之前，交易可能会被冻结。</p>
                                                    <p>&nbsp;</p>
                                                    <p>HPX可随时根据任何主管部门的要求或通过适用任何适用的法律或法规要求提供额外的身份信息。HPX也可以使用第三方验证您的身份和/或您的帐户详情。如果您向我们提供任何错误或虚假信息（包括但不限于不正确的钱包ID），HPX概不负责任何损失或损害。HPX不负责确保您处理的第三方将或有权完成交易。HPX对您可能向第三方购买或出售的任何商品或服务的交付，质量，安全，合法性或任何其他方面不承担任何控制或责任。如果您与第三方签约或向您提供服务的方式有任何问题，您必须直接与第三方处理。</p>
                                                    <p>&nbsp;G.&nbsp;<strong>终止</strong></p>
                                                    <p>您可以在解决任何未决交易后随时终止与HPX的本协议，并关闭您的账户。您也同意HPX可以通过注明，自行决定终止您访问本网站和您的帐户，包括但不限于我们的权利：限制，暂停或终止服务和会员帐户，禁止访问本网站，并且内容，服务和工具，延迟或删除托管内容，并采取技术和法律措施，如果我们认为它们造成问题或可能的法律责任，侵犯第三方的知识产权或与信件不一致这些条款。</p>
                                                    <p>&nbsp;</p>
                                                    <p>此外，我们可能在适当情况下并根据我们的判断，以任何理由暂停或终止会员账户，包括但不限于：</p>
                                                    <ul>
                                                        <li>尝试未经授权访问本网站或其他会员的帐户或向其他人提供帮助以试图这样做</li>
                                                        <li>克服限制使用或保护任何内容的软件安全功能</li>
                                                        <li>使用本服务进行洗钱，非法赌博活动，资助恐怖主义或其他犯罪活动等非法活动</li>
                                                        <li>违反这些使用条款</li>
                                                        <li>交易未付款或欺诈性付款</li>
                                                        <li>意外的操作困难</li>
                                                        <li>根据执法机构或其他政府机构的要求，如果HPX认为是合法和强制性的，则酌情行事。</li>
                                                    </ul>
                                                    <p>&nbsp;</p>
                                                    <p>我们还保留取消未经确认的帐户或帐户的权利，这些帐户或帐户已停用6个月或更长时间，或修改或终止我们的网站或服务。会员认为HPX将不会对他们或任何第三方对其帐户或访问网站承担责任。</p>
                                                    <p>&nbsp;</p>
                                                    <p>帐户的暂停不应影响过去交易应付佣金的付款。会员终止后，应通知有效的钱包地址，以允许将账户贷记的任何加密货币转移。HPX应在指定的时间内按照会员的要求尽快转移货币。我们将尽合理努力确保在发送付款前向您披露此类费用，但无法避免的情况下，您承认这些费用不能总是事先计算好，并且您同意对此类费用负责。</p>
                                                    <p>&nbsp;H.&nbsp;<strong>网站上的货币的所有权</strong></p>
                                                    <p>Hyperchain Technology Pty Ltd对加密货币无权转让给我们的网站以使用我们的服务。所有数字货币仍然处于成员的故意所有权下，并且只能代表用户信任以获得服务。</p>
                                                    <p>&nbsp;</p>
                                                    <ol>
                                                        <li>代理服务</li>
                                                    </ol>
                                                    <p>HPX可能会连接到其他交易所，为订单簿提供更多的交易量。一些交易可能在其他交易所执行。在这种情况下，HPX作为代理履行所有的执行责任，并将支付所有相关费用。在HPX的订单上显示的所有价格均包含所有相关费用。</p>
                                                    <p>&nbsp;</p>
                                                    <ol start="2">
                                                        <li>有偿佣金</li>
                                                    </ol>
                                                    <p>根据HPX的判断，我们可能会在使用限价单时向交易员支付费用。这是为了激励订单上更多的数量。付款将记入交易者的账户。</p>
                                                    <p>&nbsp;</p>
                                                    <ol start="3">
                                                        <li>API和小部件</li>
                                                    </ol>
                                                    <p>我们可以通过我们的API（应用程序编程接口）或通过小部件访问某些特定的参与方以访问特定的数据和信息。我们也可能会提供小部件供您使用，以便将数据存储在您的网站上。您可以自由使用它们的原始未修改和未修改状态。</p>
                                                    <p>&nbsp;</p>
                                                    <ol start="4">
                                                        <li>外部网站</li>
                                                    </ol>
                                                    <p>HPX不会对您通过本网站访问的任何其他网站做出任何陈述。本网站可能提供对其他网站（“外部网站”）或我们无法控制的资源（“外部网站”）的链接或其他形式的引用。在此情况下，您承认HPX仅向您提供这些链接或引用作为一种方便。</p>
                                                    <p>&nbsp;</p>
                                                    <p>HPX不对第三方网站的可用性和内容负责。请您在使用前审核其他网站发布的有关隐私和其他主题的政策。HPX不对通过本网站访问的第三方内容负责，包括意见，建议，声明，价格，活动和广告，并且您应承担与使用此类内容相关的所有风险。您应该采取预防措施，确保您选择的任何内容不含病毒，蠕虫，特洛伊木马和其他具有破坏性的内容。</p>
                                                    <p>&nbsp;</p>
                                                    <ol start="5">
                                                        <li>财务咨询</li>
                                                    </ol>
                                                    <p>为免生疑问，HPX不会就这些使用条款预期的服务提供任何投资建议。HPX可能会提供加密货币的价格，范围，波动性和影响加密货币价格的事件的信息，但这不被视为投资建议，不应视为提供。任何购买或出售加密货币的决定都是您的决定，HPX将不承担任何损失。</p>
                                                    <p>&nbsp;</p>
                                                    <ol start="6">
                                                        <li><strong>金融监管</strong></li>
                                                    </ol>
                                                    <p>HPX的商业模式和我们的服务包括促进加密货币的购买，销售和交易以及他们在不受监管的国际开放支付系统中购买商品。</p>
                                                    <p>&nbsp;</p>
                                                    <ol start="7">
                                                        <li><strong>电子邮件</strong></li>
                                                    </ol>
                                                    <p>通过互联网发送的电子邮件不安全，HPX不对在互联网上发送电子邮件而导致的任何损害负责。HPX建议以加密格式发送电子邮件；欢迎您向HPX发送PGP加密电子邮件。如果用户需要，指示和钥匙可以根据要求提供。</p>
                                                    <p>&nbsp;</p>
                                                    <ol start="8">
                                                        <li><strong>适用法律</strong></li>
                                                    </ol>
                                                    <p>马耳他的法律将管辖这些使用条款。任何一方提起诉讼或针对本使用条款中出现的或与之有关的其他诉讼可能会采取相应措施。任何诉讼或法律程序中针对任何一方提出的任何最终裁决均应对此类最终裁决的主题作出结论性裁决，并可以法律规定的方式在其他管辖区强制执行。</p>
                                                    <p>&nbsp;</p>
                                                    <p>这些使用条款构成您与HPX之间关于其主题事项的完整协议，并取代并替代所有关于此类主题的所有先前或同期的谅解备忘录，书面或口头的。任何一方放弃对使用条款的任何规定，只有在一方当事人书面签字的情况下才有效。</p>
                                                    <p>&nbsp;I.&nbsp;<strong>可靠性限制</strong></p>
                                                    <p>在法律允许的范围内，HPX将不承担任何损失，利润损失，收入损失，业务损失，机会损失，数据丢失，间接或结果性损失，不论因疏忽或故意欺骗或欺诈而遭受的损失。这些条款中没有任何内容不排除或限制任何一方因其疏忽而造成的欺诈，死亡或人身伤害，违反法律所规定的条款或任何其他法律无法或不受法律约束的责任。</p>
                                                    <p>&nbsp;</p>
                                                    <p>HPX网站上的内容仅提供一般信息。这并不意味着等于你应该依赖的建议。根据我们网站上的内容采取或避免采取任何行动之前，您必须获得专业或专业建议。</p>
                                                    <p>&nbsp;</p>
                                                    <p>在法律允许的范围内，我们排除可能适用于我们的网站或其上的任何内容和/或服务的所有条件，保证，陈述或其他条款，无论是明示的还是明示的。</p>
                                                    <p>&nbsp;</p>
                                                    <p>HPX不会就本网站和/或服务的内容，使用或与本网站和/或服务有关的方面对您承担责任（无论是否接触法律，侵权法或其他方面）：</p>
                                                    <ul>
                                                        <li>任何使用或无法使用我们的网站或服务;</li>
                                                        <li>任何使用或依赖我们网站上显示的任何内容;</li>
                                                        <li>任何间接的，特殊的或相应的损失;</li>
                                                        <li>任何商业损失，收入损失，收入，利润或预期的储蓄，合同或业务关系的丧失，声誉或商誉的损失，或信息或数据的丢失或损坏。</li>
                                                    </ul>
                                                    <p>&nbsp;</p>
                                                    <p>这些责任限制即使可以预见，或者HPX已被明确告知潜在欺诈，也适用。</p>
                                                    <p>&nbsp;</p>
                                                    <p>由于您使用我们的网站或因使用本网站而可能感染您的计算机设备，计算机程序，数据或其他专有材料的病毒，分发的拒绝服务攻击或其他技术性有害材料导致的任何损失或损害，我们不承担任何责任。您下载的任何内容，或任何链接到它的网站上。</p>
                                                    <p>&nbsp;</p>
                                                    <p>我们对本网站链接的网站内容不承担任何责任。这些链接不应该由我们对这些链接的网站进行解释。对于您使用它们可能导致的任何损失或损害，我们不承担任何责任。</p>
                                                    <p>&nbsp;</p>
                                                    <p>除上述规定外，HPX基于任何单一会员使用网站和/或服务（无论是以合同还是合同方式）（包括疏忽）或其他情况下发生的事件提出的索赔的可综合性在任何情况下均不得超过：</p>
                                                    <p>1.会员账户中持有的任何金额的提款费用总额;</p>
                                                    <p>2.作为索赔标的的交易金额的100％减去该交易中可能到期支付的任何佣金数额，可能就该等交易应付及应付。</p>
                                                    <p>&nbsp;J. 保证</p>
                                                    <p>本网站按“原样”提供，没有任何陈述或保证，明示或暗示。HPX对本网站或本网站提供的信息和材料不作任何陈述或保证。在不损害前述段落的一般性的前提下，HPX不保证：</p>
                                                    <p>本网站将不断提供或可用;</p>
                                                    <p>或本网站上的信息完整，真实，准确或无误导性。</p>
                                                    <p>&nbsp;</p>
                                                    <p>本网站的任何部分构成或意图构成任何形式的建议。如果您需要就任何法律或财务问题提供建议，您应该咨询适当的专业人士。</p>
                                                    <p>&nbsp;K. 赔偿与责任</p>
                                                    <p>在适用法律允许的范围内，您特此同意赔偿HPX及其合作伙伴因使用HPX网站而直接或间接引起的任何行为，责任，成本，索赔，损失，损害，诉讼或费用，您使用本服务或违反本使用条款。</p>
                                                    <p>&nbsp;L. 整个协议</p>
                                                    <p>这些条款和条件以及我们的隐私政策和免责声明构成您和HPX之间关于您使用本网站和服务的完整协议，并取代所有关于您使用本网站和我们的服务的所有先前协议。</p>
                                                    <p>&nbsp;</p>
                                                    <p>我们每个人都承认，在进入这些条款时，我们不依赖任何陈述，承诺，保证，保证，陈述或谅解（无论是口头的还是书面的，无论是无辜的还是疏忽的）代表另一个没有在这些条款中列出的。</p>
                                                    <p>&nbsp;</p>
                                                    <p>我们每个人都同意，根据这些条款中的任何声明，我们不会对无辜或疏忽的虚假陈述提出索赔，除非这些条款中的任何内容不得限制或排除任何欺诈责任。</p>
                                                    <p>&nbsp;M. 其他</p>
                                                    <p>如果由于我们无法控制的因素（包括但不限于不可抗力事件），法律变更或制裁政策变更，我们无法执行使用条款中概述的服务，我们对您提供的服务不承担任何责任本协议以及与该事件同时发生的时间段。</p>
                                                    <p>&nbsp;N. 条款修改</p>
                                                    <p>HPX保留随时更改，增加或删除部分条款的权利，并行使其已授权的权利。HPX将通过账户通知您任何更改。一旦发出此类通知，您有责任查看已修改的条款。在发布条款更改通知后继续使用本网站即表示您接受并同意这些更改，并且您所做的所有后续交易都将受到修订条款的约束。</p>
                                                    <p>&nbsp;</p>
                                                    <p>我们可以随时通过修改此页面来修改这些使用条款。我们会使用您最近提供给我们的电子邮件地址向您发送电子邮件，通知您我们的条款已更改。一旦修订后的条款生效，您将继续访问我们的网站，您同意受修订条款的约束。如果您不同意修改后的条款，您不得访问我们的网站或我们的服务，您应该通过以下电子邮件地址联系我们以关闭您的HPX帐户：<a href="mailto:support@hpx.com"><u>support@hpx.com</u></a>&nbsp;</p>
                                                    <p>&nbsp;</p>
                                                    <p>请不时查看本页面，注意我们所做的任何更改，因为它们对您有约束力。</p>
                                                    <p>&nbsp;O. 联系我们</p>
                                                    <p>如果您对本使用条款或使用本网站及服务时，您的帐户或任何其他事宜引起了对权利和义务的任何疑问，请联系<a href="mailto:support@hpx.com"><u>support@hpx.com</u></a></p></div>

                                                <div class="article-attachments">
                                                    <ul class="attachments">

                                                    </ul>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="col-md-12 padding-0">
                                        <footer>
                                        <div class="col-md-12 padding-0">
                                            <div class="article-footer">
                                                <div class="article-share">
                                                    <ul class="share">
                                                        <li><a href="#" class="iconfont icon-facebook"></a></li>
                                                        <li><a href="#" class="iconfont icon-twitter"></a></li>
                                                        <li><a href="#" class="iconfont icon-linkedin"></a></li>
                                                        <li><a href="#" class="iconfont icon-gugegoogle115"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="height: 1px;background-color: #666"></div>
                                        <div class="col-md-12 padding-0 text-center article-votes-question">
                                                <span>这篇文章有帮助吗？</span>
                                                <div class="article-votes-controls">
                                                    <a class="btn btn-primary btn-lg"   href="">√ 是</a>
                                                    <a class="btn btn-primary btn-lg"   href="">× 否</a>
                                                </div>
                                                <div class="col-md-12 article-votes-count">
                                                    <span class="article-vote-label">0 人中有 0 人觉得有帮助</span>
                                                </div>
                                        </div>
                                        <div class="col-md-12 article-more-questions text-center">
                                            还有其它问题？<a href="#">提交请求</a>
                                        </div>
                                        </footer>
                                    </div>
                                    <div class="col-md-12 padding-0 article-relatives">
                                            <div class="recent-articles col-md-6 padding-0">
                                                <h3>最近查看的文章</h3>
                                                <ul>
                                                    <li>
                                                        <a href="#">隐私条款</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">丢失了谷歌验证怎么办？</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">HPX数字资产充提手续费说明</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">我充值/提现后，多久到账？</a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="related-articles col-md-6 padding-0">
                                                <h3>相关文章</h3>
                                                <ul>
                                                    <li>
                                                        <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCG3jItJTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCGZ0IdJTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSJJL2hjL3poLWNuL2FydGljbGVzLzM2MDAwNzc4NzM3My0lRTklOUElOTAlRTclQTclODElRTYlOUQlQTElRTYlQUMlQkUGOwhUOglyYW5raQY%3D--3b370a42d2b8f7c721d37194930e25ba102bf5d6">隐私条款</a>
                                                    </li>

                                                    <li>
                                                        <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCL7SC9JTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCGZ0IdJTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSJJL2hjL3poLWNuL2FydGljbGVzLzM2MDAwNjI3NTc3NC0lRTUlQjklQjMlRTUlOEYlQjAlRTclQUUlODAlRTQlQkIlOEIGOwhUOglyYW5raQc%3D--9c28dee3b3a3130f15b136619040e33cfd60b175">平台简介</a>
                                                    </li>

                                                    <li>
                                                        <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCDV4NNJTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCGZ0IdJTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSI1L2hjL3poLWNuL2FydGljbGVzLzM2MDAwODkzOTU3My1UZXJtcy1Db25kaXRpb25zBjsIVDoJcmFua2kI--fdf3da1e0c496bb11eddffdc46e8075f3f5d4a38">Terms &amp; Conditions</a>
                                                    </li>

                                                    <li>
                                                        <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCAZhIdJTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCGZ0IdJTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSJkL2hjL3poLWNuL2FydGljbGVzLzM2MDAwNzY4ODQ1NC1IUFgtMi0wLSVFNSU4NSVBOCVFNyU5MCU4MyVFOSU5QyU4NyVFNiU5MiVCQyVFNSU4RiU5MSVFNSVCOCU4My0GOwhUOglyYW5raQk%3D--bc1f32044de7ec60a320c4abcc152736753230ff">HPX 2.0 全球震撼发布！</a>
                                                    </li>

                                                    <li>
                                                        <a href="/hc/zh-cn/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCM73K9JTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCGZ0IdJTADoLbG9jYWxlSSIKemgtY24GOgZFVDoIdXJsSSIBmC9oYy96aC1jbi9hcnRpY2xlcy8zNjAwMDgzODI0MTQtSFBYJUU0JUJBJUE0JUU2JTk4JTkzJUU2JTg5JTgwJUU2JTlDJTgwJUU2JTk2JUIwJUU3JTg5JTg4JUU3JUE3JUJCJUU1JThBJUE4JUU3JUFCJUFGJUU2JUFEJUEzJUU1JUJDJThGJUU1JThGJTkxJUU1JUI4JTgzBjsIVDoJcmFua2kK--805d0368bcfeee0dcb48615512dfc21aff8fa5cb">HPX交易所最新版移动端正式发布</a>
                                                    </li>

                                                </ul>
                                            </div>
                                    </div>
                                    <div class="col-md-12 article-comments padding-0">
                                        <h3 class="comment-heading">
                                            评论
                                        </h3>
                                        <p class="comment-callout">0 条评论</p>
                                    </div>
                                    <div class="col-md-12 wen_zhang_xian padding-0">
                                        <p>文章评论已关闭。</p>
                                    </div>
                                </div>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
{include file="public/foot" /}