<!--头部文件-->
{include file="public/head" /}

<body>
<section id="container" class="">
    <!--头部栏-->
    {include file="public/header"}
    <!--侧边栏-->
    {include file="public/sidebar"}
    <!--main content start-->


    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script language="javascript">
        function checktj()
        {
            var $cont=UE.getEditor('editor').getContent();
            //alert($cont);
            $("#editor1").val($cont);
            $("form").submit();
        }
    </script>
    <script type="text/javascript">

        //实例化编辑器
        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
        var ue = UE.getEditor('editor');

    </script>

    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            新增 投资优势
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" >
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">语言</label>
                                    <div class="col-lg-10">
                                        <select class="form-control m-bot15" name="you_language">
                                            <option  value="cn">中文</option>
                                            <option  value="en">英文</option>
                                            <option  value="ae">阿拉伯文</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">标题</label>
                                    <div class="col-lg-10">
                                        <input class="form-control" id="you_title" name="you_title" required placeholder="标题">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">封面图片</label>
                                    <div class="col-lg-10">
                                        <input type="file"   id="you_pic" name="you_pic" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">排序</label>
                                    <div class="col-lg-10">
                                        <input class="form-control" type="text" name="you_order" placeholder="排序顺序从大到小">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">公告内容</label>
                                    <div class="col-lg-10">
                                        <script id="editor" type="text/plain" style="width: 100%;height:300px;"></script>
                                        <input id="editor1" name="editor1" type="hidden" value="">
                                            </div>
                                            </div>
                                            <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                            <button class="btn btn-danger" type="button" onClick="checktj()">提交</button>
                                            </div>
                                            </div>
                                            </form>
                                            </div>
                                            </section>
                                            </div>
                                            </div>
                                            <!-- page end-->
                                            </section>
                                            </section>
                                            <!--main content end-->
                                            </section>
                                        <!--尾部文件-->
                                        {include file="public/foot" /}
