.news_div_menu_text_bj{
    width: 257px;
    height: 115px;
    position: absolute;
    left: 1515px;
    top:203px;
}
.news_title_div{
    width: 115px;
    height: 46px;
    position: absolute;
    left: 262px;
    top: 325px;
}
.news_title_img{
    width: 100%;
    height: 100%;
}
.news_bj_div{
    width: 1283px;
    height: 916px;
    position: absolute;
    left: 377px;
    top: 437px;
}
.news_bj_img{
    width: 100%;
    height: 100%;
}
.news_title{
    width: 394px;
    height: 53px;
    position: absolute;
    left: 801px;
    top: 476px;
    font-family:FZLTHJW--GB1-0;
    font-weight:400;
    color:rgba(175,122,71,1);
    line-height:41px;
    text-align: center;
}
.news_title p{
      font-size:24px;
}
.news_title span{
    font-size:14px;
}
.news_pic_div{
    width: 478px;
    height: 318px;
    position: absolute;
    left: 764px;
    top: 565px;
}
.news_pic_img{
    width: 100%;
    height: 100%;
}
.news_content{
    width: 1113px;
    height: 348px;
    position: absolute;
    left: 465px;
    top: 912px;
    font-size:14px;
    font-family:Lantinghei SC;
    font-weight:400;
    color:rgba(75,75,75,1);
    line-height:41px;
}
.news_info_div{
    width: 255px;
    height: 48px;
    position: absolute;
    left: 1410px;
    top: 1380px;
}
.news_info_div p{
    font-size:14px;
    font-family:Lantinghei SC;
    font-weight:normal;
    color:rgba(157,155,153,1);
    line-height:33px;
}
.foot_bj{
    width:1920px;
    height:89px;
    background-image: url("/static/www/img/ibk/ibk_foot_bj.png");
    position: absolute;
    left:0px ;
    top:1473px ;
}