.news_title_div{
    width: 115px;
    height: 46px;
    position: absolute;
    left: 262px;
    top: 325px;
}
.news_title_img{
    width: 100%;
    height: 100%;
}
.news_list_1{
    width: 1281px;
    height: 190px;
    position: absolute;
    left: 400px;
    top: 435px;
}
.news_list_2{
    width: 1281px;
    height: 190px;
    position: absolute;
    left: 400px;
    top: 694px;
}
.news_list_3{
    width: 1281px;
    height: 190px;
    position: absolute;
    left: 400px;
    top: 953px;
}
.news_date{
    width: 44px;
    height: 58px;
}
.new_day{
    font-size:36px;
    font-family:FZLTHJW--GB1-0;
    font-weight:400;
    color:rgba(75,75,75,1);
    line-height:41px;
    margin-bottom: 0px;
}
.new_month{
    font-size:20px;
    font-family:FZLTHJW--GB1-0;
    font-weight:400;
    color:#B5B5B5;
    float: right;
}
.news_bz_div{
    width: 19px;
    height: 5px;
    position: absolute;
    left: 58px;
    top: 0px;
}
.news_bz_img{
    width: 100%;
    height: 100%;
}
.news_pic_div{
    width: 200px;
    height: 140px;
    position: absolute;
    left: 109px;
    top: 0px;
}
.news_pic_img{
    width: 100%;
    height: 100%;
}
.news_title_list{
    width: 600px;
    height: 22px;
    position: absolute;
    left: 350px;
    top: 0px;
    font-size:22px;
    font-family:FZLTHJW--GB1-0;
    font-weight:400;
    color:rgba(75,75,75,1);
    line-height:41px;
}
.news_content{
    width: 637px;
    height: 66px;
    position: absolute;
    left: 350px;
    top: 48px;
    ont-size:14px;
    font-family:FZLTHJW--GB1-0;
    font-weight:400;
    color:rgba(129,129,129,1);
    line-height:26px;
}
.news_info_div{
    width: 120px;
    height: 38px;
    position: absolute;
    left: 1050px;
    top: 49px;
}
.news_info_img{
    width: 100%;
    height: 100%;
}
.news_line_div{
    width: 1281px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 191px;
}
.news_line_img{
    width: 100%;
    height: 100%;
}
.new_page{
    width: 150px;
    height: 14px;
    position: absolute;
    left: 1447px;
    top: 1207px;
}
.foot_bj{
    width:1920px;
    height:89px;
    background-image: url("/static/www/img/ibk/ibk_foot_bj.png");
    position: absolute;
    left:0px ;
    top:1305px ;
}
.news_div_menu_text_bj{
    width: 257px;
    height: 115px;
    position: absolute;
    left: 1515px;
    top:203px;
}